builds += [
  ${bench_vm_linux} ${bench_vm_linux_base} {
    setup: [
      [set-export, VM_ENV, "${VM_ENV}-no_native"]
    ] ${bench_vm_linux_base.setup}
    run: [
      ${mx_vm_common} [benchmark, --results-file, ${bench_vm_linux_base.result_file}, "gu:*"]
      ${bench_vm_linux_base.upload}
    ]
    name: bench-vm-ce-no-native-gu-linux
    timelimit: "1:00:00"
  }
]
