vm_java: ${openjdk8}
svm_suite: /substratevm
vm_extra_suites: "truffleruby,graalpython,fastr"
custom_vm_linux: {}
custom_vm_darwin: {}
vm_profiles: []
collect_profiles: []

vm_setup: {
  setup: [
    [set-export, VM_ENV, ce]
    [set-export, RELEASE_CATALOG, "https://www.graalvm.org/component-catalog/graal-updater-component-catalog.properties"]
    [set-export, SNAPSHOT_CATALOG, [mx, urlrewrite, "http://www.graalvm.org/catalog/ce"]]
    [cd, ${vm_subdir}]
  ]
}

maven_base: ${linux-deploy} {
  downloads: {
    JAVA_HOME: ${jdks.openjdk11},
    EXTRA_JAVA_HOMES: ${jdks.openjdk8}
  }
  mx_cmd_base: [mx, --dynamicimports, "/tools,/compiler,/graal-js"]
  build: ${maven_base.mx_cmd_base} [build]
  deploy: [mx, --suite, compiler, --suite, truffle, --suite, sdk, --suite, tools, --suite, regex, --suite, graal-js, --dynamicimports, "/tools,/compiler,/graal-js", "--disable-installables=true", maven-deploy, --all-distribution-types, --validate, full, --licenses, "UPL,MIT"]
}

builds += [
  ${gate_vm_linux} {
    run: [
      [mx, build]
      [mx, unittest, --suite, vm]
    ]
    name: gate-vm-unittest-linux-amd64
  }
  ${gate_vm_linux} ${maven_base} {
    run: [
      ${maven_base.build}
      ${maven_base.deploy} [--dry-run, ${binaries-repository}]
    ]
    name: gate-vm-maven-dry-run-jdk11-linux-amd64
  }
  ${deploy_vm_linux} ${maven_base} {
    run: [
      ${maven_base.build}
      ${maven_base.deploy} [${binaries-repository}]
    ]
    name: deploy-vm-maven-jdk11-linux-amd64
  }
  # The following builders can be used to deploy CE builds intended for externally publication
  ${full_vm_build_linux} ${linux-deploy} ${vm_linux} {
    run: [
      [set-export, SNAPSHOT_CATALOG, "http://www.graalvm.org/catalog/ce"]
      ${mx_vm_common} ${vm_profiles} [build]
      ${mx_vm_common} ${vm_profiles} ${maven_deploy_vm}
      ${notify-nexus-deploy}
    ]
    logs: ${common_vm.logs}
    timelimit: "1:30:00"
    name: deploy-vm-base-ext-catalog-linux-amd64
    targets: []
  }
  ${full_vm_build_darwin} ${darwin-deploy} ${vm_darwin} {
    run: ${collect_profiles} [
      [set-export, SNAPSHOT_CATALOG, "http://www.graalvm.org/catalog/ce"]
      ${mx_vm_common} ${vm_profiles} [build]
      ${mx_vm_common} ${vm_profiles} ${maven_deploy_vm}
      ${notify-nexus-deploy}
    ]
    timelimit: "1:45:00"
    name: deploy-vm-base-ext-catalog-darwin-amd64
    targets: []
  }
  ${full_vm_build_linux} ${linux-deploy} ${vm_linux} {
    run: [
      ${mx_vm_installables} [--dynamicimports, ${vm_extra_suites}, "--exclude-components=nju", build]
      ${mx_vm_installables} [--dynamicimports, ${vm_extra_suites}, "--exclude-components=nju"] ${maven_deploy_vm}
      ${notify-nexus-deploy}
    ]
    timelimit: "1:30:00"
    name: deploy-vm-ext-installable-linux-amd64
    targets: []
  }
  # no gu on windows atm
]
