*.zip
*.jar
*.mod
*~
mx.sulong/*.pyc
mx.sulong/env
mx.sulong/eclipse-launches/**
mx.sulong/libs/*.ll
mx.sulong/libs/*.bc
mx.sulong/*.iml
mx.sulong/.project
mx.sulong/.pydevproject
.DS_Store
build.xml
workingsets.xml
hs_err_pid*.log
compilations-*.cfg
lib/**
mxbuild/**
mx.imports/**
.idea/**
build/**
graal/**
projects/.project
projects/*/nbproject/
projects/*/build.xml
projects/*/\.settings
projects/*/\.classpath
projects/*/\.project
projects/*/\bin
projects/*/\.checkstyle
projects/*/*.iml
projects/*/\.factorypath
projects/SULONG.dist/
projects/SULONG_LAUNCHER.dist/
projects/SULONG_TEST.dist/

cache/**
projects/com.oracle.truffle.llvm.bench/languagegame/**
projects/com.oracle.truffle.llvm.test/lifetime/**
projects/com.oracle.truffle.llvm.asm.amd64/src/com/oracle/truffle/llvm/asm/amd64/*.interp
projects/com.oracle.truffle.llvm.asm.amd64/src/com/oracle/truffle/llvm/asm/amd64/*.tokens
projects/com.oracle.truffle.llvm.runtime/src/com/oracle/truffle/llvm/runtime/debug/debugexpr/parser/antlr/*.interp
projects/com.oracle.truffle.llvm.runtime/src/com/oracle/truffle/llvm/runtime/debug/debugexpr/parser/antlr/*.tokens

tests/argon2/phc-winner-argon2/**
tests/argon2/pthread-stub/*.ll
tests/llvm/test-suite-3.2.src/**
tests/nwcc/nwcc_0.8.3/**
tests/gcc/gcc-5.2.0/**
tests/gcc/lta/**
tests/benchmarksgame/binarytrees/**
tests/benchmarksgame/binarytreesredux/**
tests/benchmarksgame/chameneosredux/**
tests/benchmarksgame/fannkuchredux/**
tests/benchmarksgame/fasta/**
tests/benchmarksgame/fastaredux/**
tests/benchmarksgame/Include/**
tests/benchmarksgame/knucleotide/**
tests/benchmarksgame/mandelbrot/**
tests/benchmarksgame/meteor/**
tests/benchmarksgame/nbody/**
tests/benchmarksgame/pidigits/**
tests/benchmarksgame/regexdna/**
tests/benchmarksgame/rvcomp/**
tests/benchmarksgame/spectralnorm/**
tests/benchmarksgame/threadring/**
tests/benchmarksgame/revcomp/**
tests/support.txt.sha1

output
/bench-results.json
/.project
*.orig
/.metadata/
