sulong-common: ${common} ${oraclejdk8} {
    setup: [
        [cd, "./sulong"]
    ]
}

sulong-gateCommon: ${sulong-common} {
    targets: [gate]
}

sulong-gateStyle: ${sulong-gateCommon} ${linux-amd64} ${eclipse} {
    packages: {
        ruby: "==2.1.0" # for mdl
    }
}

sulong-gateTest-linux: ${sulong-gateCommon} ${linux-amd64} {
    downloads: {
        LIBGMP: {name: libgmp, version: "6.1.0", platformspecific: true}
    }

    environment: {
        CPPFLAGS: "-g -I$LIBGMP/include"
        LD_LIBRARY_PATH: "$LIBGMP/lib:$LD_LIBRARY_PATH"
        LDFLAGS: "-L$LIBGMP/lib"
    }
}

sulong-gateTest38-linux: ${sulong-gateTest-linux} {
    packages: {
        llvm: "==3.8"
    }
    environment: {
        NO_FEMBED_BITCODE: "true"
    }
}

sulong-gateTest40-linux: ${sulong-gateTest-linux} {
    packages: {
        llvm: "==4.0.1"
    }
}

sulong-gateTest60-linux: ${sulong-gateTest-linux} {
    packages: {
        llvm: "==6.0.1"
    }
}

sulong-gateTest80-linux: ${sulong-gateTest-linux} {
    packages: {
        llvm: "==8.0.0"
    }
}

darwin-llvm : {
    packages: {
        llvm: "==4.0.1"
    }
}

sulong-gateTest40-darwin: ${sulong-gateCommon} ${darwin-amd64} ${darwin-llvm} {
    environment: {
        CPPFLAGS: "-g"
    }
}

requireGCC: {
    packages: {
        gcc: "==6.1.0"
    }
    downloads: {
        DRAGONEGG_GCC: {name: "gcc+dragonegg", version: "4.6.4-1", platformspecific: true}
        DRAGONEGG_LLVM: {name: "clang+llvm", version: "3.2", platformspecific: true}
    }
}

sulong-ruby-downstream-test: {
    packages: {
        ruby: "==2.1.0"
    }
    run: [
        [mx, testdownstream, --repo, "https://github.com/graalvm/truffleruby.git",
         --mx-command, "--dynamicimports /sulong ruby_testdownstream_sulong"]
    ]
    timelimit: "45:00"
}

sulong-gate-asm-parser: ${sulong-gateCommon} ${linux-amd64} {
  run: [
    ["mx", "create-asm-parser"]
    ["git", "diff", "--exit-code", "projects/com.oracle.truffle.llvm.asm.amd64/src/com/oracle/truffle/llvm/asm/amd64/InlineAssemblyLexer.java"]
    ["git", "diff", "--exit-code", "projects/com.oracle.truffle.llvm.asm.amd64/src/com/oracle/truffle/llvm/asm/amd64/InlineAssemblyParser.java"]
  ]
}

sulong-coverage-linux: ${sulong-gateTest38-linux} ${requireGCC} ${sulong-weekly-notifications} {
    run: [
        [mx, --jacoco-whitelist-package, com.oracle.truffle.llvm, --jacoco-exclude-annotation, "@GeneratedBy", gate, --tags, "build,sulongCoverage", --jacocout, html]
        [mx, --jacoco-whitelist-package, com.oracle.truffle.llvm, --jacoco-exclude-annotation, "@GeneratedBy", sonarqube-upload, "-Dsonar.host.url=$SONAR_HOST_URL", "-Dsonar.projectKey=com.oracle.graalvm.sulong", "-Dsonar.projectName=GraalVM - Sulong", --exclude-generated]
        [mx, --jacoco-whitelist-package, com.oracle.truffle.llvm, --jacoco-exclude-annotation, "@GeneratedBy", coverage-upload]
    ]
    targets: [weekly]
    timelimit: "1:00:00"
}

builds += [
  ${sulong-gateStyle} { name: gate-sulong-style, run: [[mx, gate, --tags, "style"]] }
  ${sulong-gateStyle} ${jdt} { name: gate-sulong-fullbuild, run: [[mx, gate, --tags, "fullbuild"]] }
  ${sulong-gate-asm-parser} { name: gate-sulong-asm-parser }
  ${sulong-gateTest80-linux} ${requireGCC} { name: gate-sulong-misc, run: [[mx, gate, --tags, "build,sulongMisc"]] }
  ${sulong-gateTest80-linux} ${requireGCC} { name: gate-sulong-parser, run: [[mx, gate, --tags, "build,parser"]] }
  ${sulong-gateTest80-linux} { name: gate-sulong-gcc_c, run: [[mx, gate, --tags, "build,gcc_c"]], timelimit: "45:00" }
  ${sulong-gateTest80-linux} { name: gate-sulong-gcc_cpp, run: [[mx, gate, --tags, "build,gcc_cpp"]] }
  ${sulong-gateTest80-linux} ${requireGCC} { name: gate-sulong-gcc_fortran, run: [[mx, gate, --tags, "build,gcc_fortran"]] }
  ${sulong-gateTest38-linux} ${requireGCC} { name: gate-sulong-basic_v38, run: [[mx, gate, --tags, "build,sulongBasic,nwcc,llvm"]] }
  ${sulong-gateTest40-linux} ${requireGCC} { name: gate-sulong-basic_v40, run: [[mx, gate, --tags, "build,sulongBasic,nwcc,llvm"]] }
  ${sulong-gateTest60-linux} ${requireGCC} { name: gate-sulong-basic_v60, run: [[mx, gate, --tags, "build,sulongBasic,nwcc,llvm"]] }
  ${sulong-gateTest80-linux} ${requireGCC} { name: gate-sulong-basic_v80, run: [[mx, gate, --tags, "build,sulongBasic,nwcc,llvm"]] }
  ${sulong-gateTest40-darwin} { name: gate-sulong-basic_mac, run: [[mx, gate, --tags, "build,sulongBasic,nwcc,llvm,toolchain"]] }

  ${sulong-gateTest80-linux} ${sulong-ruby-downstream-test} { name: gate-sulong-ruby-downstream }

  ${sulong-coverage-linux} { name: weekly-sulong-coverage }
]
