*.jar
*.mod
*~
mx.sulong/*.pyc
mx.sulong/env
mx.sulong/eclipse-launches/**
build.xml
workingsets.xml
hs_err_pid*.log
compilations-*.cfg
lib/**
mxbuild/**
mx.imports/**
.idea/**
build/**
graal/**
projects/*/nbproject/
projects/*/build.xml
projects/*/\.settings
projects/*/\.classpath
projects/*/\.project
projects/*/\bin
projects/*/\.checkstyle
projects/*/*.iml
projects/*/\.factorypath
projects/com.oracle.truffle.llvm.test/suites/**
projects/com.oracle.truffle.llvm.tools/tools/**
projects/com.oracle.truffle.llvm.bench/languagegame/**
projects/com.oracle.truffle.llvm.test/flush.temp.ll

projects/com.intel.llvm.ireditor/plugin.xml
projects/com.intel.llvm.ireditor/plugin.xml_gen
projects/com.intel.llvm.ireditor/build.properties
projects/com.intel.llvm.ireditor/src_gen/**
projects/com.intel.llvm.ireditor/xtend-gen/**
projects/com.intel.llvm.ireditor/.launch/**
