java7 : {name : oraclejdk, version : "7",    platformspecific: true}
java8 : {name : oraclejdk, version : "8u66", platformspecific: true}
#java9 : {name : oraclejdk, version : "9",    platformspecific: true}
java9 : {name : labsjdk, version : "9-SNAPSHOT",    platformspecific: true}
ecj : {name: ecj, version: "4.5.1", platformspecific: false}
eclipse : {name: eclipse, version: "4.5.2.1", platformspecific: true}

mx : {
  packages : {
    mx : "4127d6639af1bea4353b0a58920afbe675d4cf"
  }
}

common : ${mx} {
  packages : {
    git : ">=1.8.3"
    mercurial : ">=2.2"
    "pip:astroid" : "==1.1.0"
    "pip:pylint" : "==1.1.0"
    maven : ">=3.3.9"
  }

  downloads : {
    ECLIPSE : ${eclipse}
  }

  environment : {
    PATH : "$JAVA_HOME/bin:$PATH"
    ECLIPSE_EXE : "$ECLIPSE/eclipse"
  }

  timelimit : "30:00"
}

solaris : ${mx} {
  packages : {
    git : ">=1.8.3"
  }

  environment : {
    PATH : "$JAVA_HOME/bin:$PATH"
  }

  timelimit : "30:00"
}

darwin : ${mx} {
  environment : ${common.environment} {
    PATH : "/usr/local/bin:$JAVA_HOME/bin:$PATH"
  }
}

maven-deploy-dry-run : ${common} ${java8Downloads} {
  capabilities : [linux, amd64]
  targets : [gate]
  name : gate-maven-deploy-dry-run
  setup : [
     ["mx", "--strict-compliance", "build"]
  ]
  run : [
     ["mx", "maven-deploy", "--licenses", "GPLv2-CPE,UPL", "--dry-run", "ossrh", "https://this-is-only-a-test"]
  ]
}

deploy-binary : ${common} ${java8Downloads} {
  capabilities : [linux, amd64]
  targets : [post-merge]
  name : postmerge-deploy-binary
  setup : [
     ["mx", "--strict-compliance", "build"]
  ]
  run : [
     ["mx", "deploy-binary", "--skip-existing", "lafo-snapshots"]
  ]
}

java8Downloads : {
  downloads : {
    JDT : ${ecj}
    EXTRA_JAVA_HOMES : { pathlist :[
      ${java7}
    ]}
    JAVA_HOME : ${java8}
  }
}

java9Downloads : {
  downloads : {
    EXTRA_JAVA_HOMES : { pathlist :[
      ${java7}
      ${java8}
    ]}
    JAVA_HOME : ${java9}
  }
}

gateLite : {
  run : [
    ["mx", "build" ],
    ["mx", "unittest", "--verbose" ]
  ]
}

# overlay version
overlay = 230121bfcf8201d5b5f8813231012a3b4ca3c9c5

builds = [
  ${common} ${java8Downloads} {run : [["mx", "--strict-compliance", "gate", "--strict-mode"]], capabilities : [linux, amd64], targets : [gate], name: "gate-truffle-8"},
# ${common} ${java9Downloads} {run : [["mx", "--strict-compliance", "gate", "--strict-mode"]], capabilities : [linux, amd64], targets : [gate], name: "gate-truffle-9"},
  ${common} ${java8Downloads} {run : [["sh", ".travis.sigtest.sh"]], capabilities : [linux, amd64], targets : [gate], name: "gate-sigtest"},
# ${common} ${java9Downloads} {run : [["mx", "-v", "testgraal"]], capabilities : [linux, amd64], targets : [gate], name: "gate-testgraal9"},
  ${common} ${java8Downloads} {run : [["mx", "-v", "testgraal"]], capabilities : [linux, amd64], targets : [gate], name: "gate-testgraal8"},
  ${common} ${java8Downloads} {run : [["mx", "testrubytruffle"]], capabilities : [linux, amd64], targets : [post-merge], name: "gate-rubytruffle"},
  ${maven-deploy-dry-run}
  ${deploy-binary}
  ${solaris} ${java8Downloads} ${gateLite} {
    capabilities : [solaris, sparcv9],
    targets : [ gate ],
    name: "gate-solaris-lite-8"
  }
#  ${solaris} ${java9Downloads} ${gateLite} {
#    capabilities : [solaris, sparcv9],
#    targets : [ gate ],
#    name: "gate-solaris-lite-9"
#  }
  ${darwin} ${java8Downloads} ${gateLite} {
    capabilities : [darwin],
    targets : [ gate ],
    name: "gate-mac-lite-8"
  }
#  ${darwin} ${java9Downloads} ${gateLite} {
#    capabilities : [darwin],
#    targets : [ gate ],
#    name: "gate-mac-lite-9"
#  }
]
