# overlay version
overlay = 6d445f13917f2a6d8094e5fe6d23b68cbd992fb9

# labsjdk* are JDKs based on OracleJDK binaries
# openjdk* are JDKs based on OpenJDK binaries
jdks: {
  labsjdk8 : {name : labsjdk, version : "8u151-jvmci-0.40", platformspecific: true}
  labsjdk9 : {name : labsjdk, version : "9+181", platformspecific: true}
  labsjdk8Debug : {name : labsjdk, version : "8u151-jvmci-0.40-fastdebug", platformspecific: true}

  # Strictly speaking, this is labsjdk-jdk-hs-snapshot but for
  # readability we use the java.specification.version reported by the snapshot.
  # This means the name will change to labsjdk11 at some point.
  labsjdk10 : {name : labsjdk, version : "20180130-162725", platformspecific: true}
}

# Overlay placeholder for pinning mx to a specific revision
mx : {}

labsjdk8 :      { downloads : { JAVA_HOME : ${jdks.labsjdk8} }}
labsjdk8Debug : { downloads : { JAVA_HOME : ${jdks.labsjdk8Debug} }}

# GR-5675
# openjdk8 :      { downloads : { JAVA_HOME : ${jdks.openjdk8} }}

labsjdk9 :      { downloads : { JAVA_HOME : ${jdks.labsjdk9},   EXTRA_JAVA_HOMES : { pathlist :[ ${jdks.labsjdk8} ]} }}
labsjdk10 :     { downloads : { JAVA_HOME : ${jdks.labsjdk10},  EXTRA_JAVA_HOMES : { pathlist :[ ${jdks.labsjdk8} ]} }}

common : ${mx} {
  timelimit : "30:00"
  catch_files : [
    "Graal diagnostic output saved in (?P<filename>.+\.zip)"
  ]
}

linux : ${common} {
  packages : {
    git : ">=1.8.3"
    mercurial : ">=2.2"
    "pip:astroid" : "==1.1.0"
    "pip:pylint" : "==1.1.0"
  }
}

solaris : ${common} {
  packages : {
    git : ">=1.8.3"
    mercurial : ">=2.2"
    "pip:astroid" : "==1.1.0"
    "pip:pylint" : "==1.1.0"
  }
}

darwin : ${common} {
  packages : {
    "pip:astroid" : "==1.1.0"
    "pip:pylint" : "==1.1.0"
  }
  environment : {
    PATH : "/usr/local/bin:$PATH"
  }
}

linux-amd64 : ${linux} {
  capabilities : [linux, amd64]
}

darwin-amd64 : ${darwin} {
  capabilities : [darwin_next, amd64]
}

solaris-sparcv9 : ${solaris} {
  capabilities : [solaris, sparcv9]
}

linux-sparcv9 : ${linux} {
  capabilities : [linux, sparcv9]
}

eclipse : {
  downloads : {
    ECLIPSE : {name: eclipse, version: "4.5.2", platformspecific: true}
  }
  environment : {
    ECLIPSE_EXE : "$ECLIPSE/eclipse"
  }
}

jdt : {
  downloads : {
    JDT : {name: ecj, version: "4.5.1", platformspecific: false}
  }
}

# for cases where a maven package is not easily accessible
maven-download-unix : ${labsjdk8} {
  downloads : {
    MAVEN_HOME: {name: maven, version: "3.3.9", platformspecific: false}
  }
  environment : {
    PATH : "$MAVEN_HOME/bin:$JAVA_HOME/bin:$PATH"
  }
}

linux-deploy : ${linux} {
  packages : {
    maven : ">=3.3.9"
  }
}

solaris-deploy : ${solaris} ${maven-download-unix}

darwin-deploy : ${darwin} ${maven-download-unix} {
  environment : {
    PATH : "$MAVEN_HOME/bin:$JAVA_HOME/bin:/usr/local/bin:$PATH"
  }
}

deploy-binaries : ${labsjdk8} {
  targets : [post-merge, deploy]
  run : [
    ["mx", "--strict-compliance", "build"]
    ["mx", "deploy-binary", "--all-suites", "--skip-existing", ${binaries-repository}]
  ]
}

maven-deploy-dry-run : ${labsjdk8} {
  targets : [gate]
  run : [
    ["mx", "--strict-compliance", "build"]
    ["mx", "maven-deploy", "--validate", "full", "--licenses", "GPLv2-CPE,UPL", "--dry-run", "ossrh", "https://this-is-only-a-test"]
  ]
}

svm-common: ${mx} {
  environment: {
    DEFAULT_VM: "server"
    LANG: "en_US.UTF-8"
  }
  logs: [
    "*/native_image_server.log"
    "*/svmbuild/*.log"
    "*/svmbuild/images/*.log"
    "*/*/stripped/*.map"
    "*/callgrind.*"
    "*.bgv"
  ]
}

svm-common-linux: ${svm-common} ${linux-amd64} {
  packages: {
    make: ">=3.83"
    gcc-build-essentials: ">=4.9.1" # GCC 4.9.0 fails on cluster
    ruby: ">=2.1.0"
    valgrind: ">=3.9.0"
  }
  timelimit: "55:00"
}

svm-capabilities-fast : {
  capabilities : [linux, amd64, fast]
}

svm-capabilities-avx2 : {
  capabilities : [linux, amd64, avx2]
}

svm-capabilities-manycores : {
  capabilities : [linux, amd64, manycores, fast]
}

svm-common-darwin: ${svm-common} ${darwin-amd64} {
  timelimit: "45:00"
}

svm-common-sulong: {
  packages: {
    llvm: "==3.8"
  }
}

