button {
    display: inline-block;
    border: none;
    padding: 6px 12px;
    margin-right: 12px;
    text-decoration: none;
    background: var(--vscode-button-background);
    color: var(--vscode-button-foreground);
    font-family: sans-serif;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
}
button:hover, button:focus {
    background: var(--vscode-button-hoverBackground);
}
button:focus {
    outline: 1px solid var(--vscode-button-hoverBackground);
}
input {
    border: var(--vscode-input-border);
    padding: 6px 12px;
    margin-right: 12px;
    background: var(--vscode-input-background);
    color: var(--vscode-input-foreground);
}
input:focus {
    outline-color: var(--vscode-focusBorder);
}
.section {
    display: flex;
    flex-flow: column nowrap;
    padding: 3px 25px;
    max-height: 97vh;
}
.panel {
    color: var(--vscode-sideBarTitle-foreground);
    background-color: var(--vscode-sideBar-background);
    border: 1px solid var(--vscode-sideBar-border);
    padding: 12px;
    margin-bottom: 24px;
    max-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}
