# hwloc (Hardware Locality) provides means to bind a process to NUMA nodes
hwloc.bench-common-8 : {
  packages: {hwloc: ">=1.9"}
  environment: {
    BASE_BENCH_RESULTS_FILE_NAME: "bench-results.json"
    LOG_FILE_NAME : "-output.log"
    NODE: undefined
    BENCH_RESULTS_FILE_PATH: undefined
  }
  teardown : [
    ["bench-uploader.py", "--url", "$BENCH_SERVER_URL", "node0-$BASE_BENCH_RESULTS_FILE_NAME"]
    ["bench-uploader.py", "--url", "$BENCH_SERVER_URL", "node1-$BASE_BENCH_RESULTS_FILE_NAME"]
  ]
  logs : [
    "*output.log"
  ]
}

hwloc.cmd.suffix : ["|","tee", "$LOGDIR/node$NODE$LOG_FILE_NAME", "&"]

# command prefix for binding a command to a certain node
hwloc.node0 : ["hwloc-bind", "--cpubind", "node:0", "--membind", "node:0", "--"]
hwloc.node1 : ["hwloc-bind", "--cpubind", "node:1", "--membind", "node:1", "--"]
hwloc.node : ["hwloc-bind", "--cpubind", "node:$NODE", "--membind", "node:$NODE", "--"]

export.node0: [export, "NODE=0", "BENCH_RESULTS_FILE_PATH=node0-$BASE_BENCH_RESULTS_FILE_NAME"]
export.node1: [export, "NODE=1", "BENCH_RESULTS_FILE_PATH=node1-$BASE_BENCH_RESULTS_FILE_NAME"]

bench-dacapo-hwloc: ${bench-dacapo} ${hwloc.bench-common-8} {
  run: [
    [export, "LOGDIR=$PWD"]
    ${export.node0}
    ${hwloc.node} ${bench-jvmci.mx-dacapo} ${bench-arguments} ${hwloc.cmd.suffix}
    ${export.node1}
    ${hwloc.node} ${bench-jvmci.mx-dacapo} ${bench-arguments} ${hwloc.cmd.suffix}
    [wait]
  ]
}

bench-dacapo-timing-hwloc: ${bench-dacapo-timing} ${hwloc.bench-common-8} {
  run: [
    [export, "LOGDIR=$PWD"]
    ${export.node0}
    ${hwloc.node} ${bench-jvmci.mx-dacapo-timing} ${bench-arguments} ${hwloc.cmd.suffix}
    ${export.node1}
    ${hwloc.node} ${bench-jvmci.mx-dacapo-timing} ${bench-arguments} ${hwloc.cmd.suffix}
    [wait]
  ]
}

bench-dacapo-move-profiling-hwloc: ${bench-dacapo-move-profiling} ${hwloc.bench-common-8} {
  run: [
    [export, "LOGDIR=$PWD"]
    ${export.node0}
    ${hwloc.node} ${bench-jvmci.mx-dacapo-move-profiling} ${bench-arguments} ${hwloc.cmd.suffix}
    ${export.node1}
    ${hwloc.node} ${bench-jvmci.mx-dacapo-move-profiling} ${bench-arguments} ${hwloc.cmd.suffix}
    [wait]
  ]
}

# Scala DaCapo-related targets

bench-scala-dacapo-hwloc: ${bench-scala-dacapo} ${hwloc.bench-common-8} {
  run: [
    [export, "LOGDIR=$PWD"]
    ${export.node0}
    ${hwloc.node} ${bench-jvmci.mx-scala-dacapo} ${bench-arguments} ${hwloc.cmd.suffix}
    ${export.node1}
    ${hwloc.node} ${bench-jvmci.mx-scala-dacapo} ${bench-arguments} ${hwloc.cmd.suffix}
    [wait]
  ]
}

bench-scala-dacapo-timing-hwloc: ${bench-scala-dacapo-timing} ${hwloc.bench-common-8} {
  run: [
    [export, "LOGDIR=$PWD"]
    ${export.node0}
    ${hwloc.node} ${bench-jvmci.mx-scala-dacapo-timing} ${bench-arguments} ${hwloc.cmd.suffix}
    ${export.node1}
    ${hwloc.node} ${bench-jvmci.mx-scala-dacapo-timing} ${bench-arguments} ${hwloc.cmd.suffix}
    [wait]
  ]
}

bench-scala-dacapo-move-profiling-hwloc: ${bench-scala-dacapo-move-profiling} ${hwloc.bench-common-8} {
  run: [
    [export, "LOGDIR=$PWD"]
    ${export.node0}
    ${hwloc.node} ${bench-jvmci.mx-scala-dacapo-move-profiling} ${bench-arguments} ${hwloc.cmd.suffix}
    ${export.node1}
    ${hwloc.node} ${bench-jvmci.mx-scala-dacapo-move-profiling} ${bench-arguments} ${hwloc.cmd.suffix}
    [wait]
  ]
}

# Renaissance-related targets

bench-renaissance-hwloc: ${bench-renaissance} ${hwloc.bench-common-8} {
  run: [
    [export, "LOGDIR=$PWD"]
    ${export.node0}
    ${hwloc.node} ${bench-jvmci.mx-renaissance} ${bench-arguments} ${hwloc.cmd.suffix}
    ${export.node1}
    ${hwloc.node} ${bench-jvmci.mx-renaissance} ${bench-arguments} ${hwloc.cmd.suffix}
    [wait]
  ]
}
