# overlay version
overlay = 0edd74cfb471019c0f528dd8aeca68ad09d88fcc

java7 : {name : oraclejdk, version : "7",    platformspecific: true}
java8 : {name : labsjdk, version : "8u121-jvmci-0.25", platformspecific: true}
java9 : {name : labsjdk, version : "9-SNAPSHOT", platformspecific: true}
java9EA : {name : labsjdk, version : "9-ea+156", platformspecific: true}
java8Debug : {name : labsjdk, version : "8u121-jvmci-0.25-fastdebug", platformspecific: true}

mx : {
  packages : {
    mx : "68c777ea1644fe810765e6a5326ba585355a74af"
  }
}

chdirToSuite : ["cd", ${suite-root}]
common : ${mx} {
  setup : [${chdirToSuite}]
  timelimit : "30:00"
}

commonLinux : ${common} {
  packages : {
    git : ">=1.8.3"
    mercurial : ">=2.2"
    "pip:astroid" : "==1.1.0"
    "pip:pylint" : "==1.1.0"
  }
}

commonSolaris : ${common} {
  packages : {
    git : ">=1.8.3"
    mercurial : ">=2.2"
    "pip:astroid" : "==1.1.0"
    "pip:pylint" : "==1.1.0"
  }
}

commonDarwin : ${common} {
  packages : {
    # Brew does not support versions
    mercurial : ""
    "pip:astroid" : "==1.1.0"
    "pip:pylint" : "==1.1.0"
  }
}

java8Downloads : {
  downloads : {
    EXTRA_JAVA_HOMES : { pathlist :[
      ${java7}
    ]}
    JAVA_HOME : ${java8}
  }
}

java8DownloadsDebug : {
  downloads : {
    EXTRA_JAVA_HOMES : { pathlist :[
      ${java7}
    ]}
    JAVA_HOME : ${java8Debug}
  }
}

java9Downloads : {
  downloads : {
    EXTRA_JAVA_HOMES : { pathlist :[
      ${java7}
      ${java8}
    ]}
    JAVA_HOME : ${java9}
  }
}

java9EADownloads : ${java9Downloads} {
  downloads : {
    JAVA_HOME : ${java9EA}
  }
}
