gateCmd : ["mx", "-v", "--kill-with-sigquit", "--strict-compliance", "gate", "--strict-mode", "--extra-vm-argument=${EXTRA_VM_ARGS}", "--tags"]

gateTest : {
  environment : {
    EXTRA_VM_ARGS : ""
  }
  run : [
    ${gateCmd} ["build,test"]
  ]
}

gateTestCTW : {
  environment : {
    EXTRA_VM_ARGS : ""
  }
  run : [
    ${gateCmd} ["build,ctw"]
  ]
}

gateTestBenchmark : {
  environment : {
    EXTRA_VM_ARGS : ""
  }
  run : [
    ${gateCmd} ["build,benchmarktest"]
  ]
}

gateBootstrap : {
  environment : {
    EXTRA_VM_ARGS : ""
  }
  run : [
    ${gateCmd} ["build,bootstrap"]
  ]
}

gateBootstrapLite : {
  environment : {
    EXTRA_VM_ARGS : ""
  }
  run : [
    ${gateCmd} ["build,bootstraplite"]
  ]
}

gateBootstrapFullVerify : {
  environment : {
    EXTRA_VM_ARGS : ""
  }
  run : [
    ${gateCmd} ["build,bootstrapfullverify"]
  ]
}

gateTest8               : ${gateTest} ${java8Downloads}
gateTestCTW8            : ${gateTestCTW} ${java8Downloads}
gateTest8Debug          : ${gateTest} ${java8DownloadsDebug}
gateTest9               : ${gateTest} ${java9Downloads}
gateTest9EA             : ${gateTest} ${java9EADownloads}
gateTestBenchmark8      : ${gateTestBenchmark} ${java8Downloads}
gateTestBenchmark8Debug : ${gateTestBenchmark} ${java8DownloadsDebug}
gateTestBenchmark9      : ${gateTestBenchmark} ${java9Downloads}
gateBootstrap8          : ${gateBootstrap} ${java8Downloads}
gateBootstrap9          : ${gateBootstrap} ${java9Downloads}
gateBootstrap9EA        : ${gateBootstrap} ${java9EADownloads}
gateBootstrap8FullVerify: ${gateBootstrapFullVerify} ${java8Downloads}
gateBootstrapLite8      : ${gateBootstrapLite} ${java8Downloads}
gateBootstrapLite9      : ${gateBootstrapLite} ${java9Downloads}

gateStyle : ${java8Downloads} {
  downloads : {
    JDT : {name: ecj, version: "4.5.1", platformspecific: false}
    ECLIPSE : {name: eclipse, version: "4.5.2", platformspecific: true}
  }
  environment : {
    ECLIPSE_EXE : "$ECLIPSE/eclipse"
    EXTRA_VM_ARGS : ""
  }
  run : [
    ${gateCmd} ["style,fullbuild"]
  ]
}

gateCommon : {
  targets : [gate]
  logs: ${logPatterns}
}

gateLinuxAMD64 : ${commonLinux} ${gateCommon} {
  capabilities : [linux, amd64]
}

gateDarwinAMD64 : ${commonDarwin} ${gateCommon} {
  capabilities : [darwin, amd64]
}

gateSolarisSPARC : ${commonSolaris} ${gateCommon} {
  capabilities : [solaris, sparcv9]
}

gateLinuxAMD64TraceRA : ${gateLinuxAMD64} {
  environment : {
    EXTRA_VM_ARGS : "-Dgraal.TraceRA=true"
  }
}

gateLinuxAMD64TraceRABU : ${gateLinuxAMD64} {
  environment : {
    EXTRA_VM_ARGS : "-Dgraal.TraceRA=true -Dgraal.TraceRAPolicy=BottomUpOnly"
  }
}

gateLinuxAMD64TraceRASingleBlock : ${gateLinuxAMD64} {
  environment : {
    EXTRA_VM_ARGS : "-Dgraal.TraceRA=true -Dgraal.TraceRAPolicy=BottomUpOnly -Dgraal.TraceBuilding=SingleBlock"
  }
}

gateLinuxAMD64Bootstrap : ${gateLinuxAMD64} { capabilities : ${gateLinuxAMD64.capabilities} [manycores] }
gateDarwinAMD64Bootstrap : ${gateDarwinAMD64}
gateSolarisSPARCBootstrap : ${gateSolarisSPARC} { capabilities : ${gateSolarisSPARC.capabilities} [manycores] }
gateLinuxAMD64TraceRABootstrap : ${gateLinuxAMD64TraceRA} { capabilities : ${gateLinuxAMD64TraceRA.capabilities} [manycores] }
gateLinuxAMD64TraceRABUBootstrap : ${gateLinuxAMD64TraceRABU} { capabilities : ${gateLinuxAMD64TraceRABU.capabilities} [manycores] }
