gateCmd : ["mx", "--strict-compliance", "gate", "--strict-mode", "--extra-vm-argument=${EXTRA_VM_ARGS}", "--tags"]

gateTest : {
  environment : {
    EXTRA_VM_ARGS : ""
  }
  run : [
    ${gateCmd} ["build,test"]
  ]
}

gateBootstrap : {
  environment : {
    EXTRA_VM_ARGS : ""
  }
  run : [
    ${gateCmd} ["build,bootstrap"]
  ]
}

gateTest8      : ${gateTest} ${java8Downloads}
gateTest8Debug : ${gateTest} ${java8DownloadsDebug}
gateTest9      : ${gateTest} ${java9Downloads}
gateBootstrap8 : ${gateBootstrap} ${java8Downloads}
gateBootstrap9 : ${gateBootstrap} ${java9Downloads}

gateStyle : ${java8Downloads} {
  downloads : {
    JDT : {name: ecj, version: "4.5.1", platformspecific: false}
    ECLIPSE : {name: eclipse, version: "4.5.2", platformspecific: true}
  }
  environment : {
    ECLIPSE_EXE : "$ECLIPSE/eclipse"
    EXTRA_VM_ARGS : ""
  }
  run : [
    ${gateCmd} ["style,fullbuild"]
  ]
}

gateCommon : {
  targets : [gate]
}

gateLinuxAMD64 : ${commonLinux} ${gateCommon} {
  capabilities : [linux, amd64]
}

gateDarwinAMD64 : ${commonDarwin} ${gateCommon} {
  capabilities : [darwin, amd64]
}

gateSolarisSPARC : ${commonSolaris} ${gateCommon} {
  capabilities : [solaris, sparcv9]
}

gateLinuxAMD64TraceRA : ${gateLinuxAMD64} {
  environment : {
    EXTRA_VM_ARGS : "-Dgraal.TraceRA=true"
  }
}

# Build targets

builds += [
# ${gateTest8}        ${gateDarwinAMD64}  {name: "gate-test-8-darwin-amd64"}
# ${gateTest8Debug}   ${gateDarwinAMD64}  {name: "gate-test-8-darwin-amd64-fastdebug"}
  ${gateTest8}        ${gateLinuxAMD64}   {name: "gate-test-8-linux-amd64"}
  ${gateTest8Debug}   ${gateLinuxAMD64}   {name: "gate-test-8-linux-amd64-fastdebug"}
  ${gateBootstrap8}   ${gateDarwinAMD64}  {name: "gate-bootstrap-8-darwin-amd64"}
  ${gateBootstrap8}   ${gateLinuxAMD64}   {name: "gate-bootstrap-8-linux-amd64"}
# ${gateTest9}        ${gateLinuxAMD64}   {name: "gate-test-9-linux-amd64"}
# ${gateBootstrap9}   ${gateLinuxAMD64}   {name: "gate-bootstrap-9-linux-amd64"}
  ${gateStyle}        ${gateLinuxAMD64}   {name: "gate-style-linux-amd64"}
  # Solaris SPARC
  ${gateTest8}        ${gateSolarisSPARC} {name: "gate-test-8-solaris-sparcv9",      timelimit: "1:00:00"}
  ${gateTest8Debug}   ${gateSolarisSPARC} {name: "gate-test-8-solaris-sparcv9-fastdebug", timelimit: "1:00:00"}
  ${gateBootstrap8}   ${gateSolarisSPARC} {name: "gate-bootstrap-8-solaris-sparcv9", timelimit: "1:00:00"}
  # TraceRA
  ${gateTest8}        ${gateLinuxAMD64TraceRA} {name: "gate-test-8-linux-amd64-tracera"}
  ${gateBootstrap8}   ${gateLinuxAMD64TraceRA} {name: "gate-bootstrap-8-linux-amd64-tracera"}
# The linux-sparc gate machine throws OOME when running `javac -X -J-Xms64M -J-Xint` too often.
# ${gateTest8}        ${commonLinux}   {capabilities : [linux, sparcv9, gate], name: "gate-test-8-linux-sparcv9", timelimit: "1:00:00"}
]
