# Build targets

builds += [
  # Darwin AMD64
# ${gateTest8}                 ${gateDarwinAMD64}  {name: "gate-test-8-darwin-amd64"}
#GR-2368  ${gateTest9}                 ${gateDarwinAMD64}  {name: "gate-test-9-darwin-amd64"}
#GR-2368  ${gateTest9EA}               ${gateDarwinAMD64}  {name: "gate-test-9EA-darwin-amd64"}
# ${gateTest8Debug}            ${gateDarwinAMD64}  {name: "gate-test-8-darwin-amd64-fastdebug"}
# ${gateTestBenchmark8}        ${gateDarwinAMD64}  {name: "gate-benchmarktest-8-darwin-amd64"}
# ${gateTestBenchmark8Debug}   ${gateDarwinAMD64}  {name: "gate-benchmarktest-8-darwin-amd64-fastdebug"}

  # Linux AMD64
  ${gateTest8}                 ${gateLinuxAMD64}   {name: "gate-test-8-linux-amd64"}
#GR-2368  ${gateTest9}                 ${gateLinuxAMD64}   {name: "gate-test-9-linux-amd64"}
#GR-2368  ${gateTest9EA}               ${gateLinuxAMD64}   {name: "gate-test-9EA-linux-amd64"}
  ${gateTestCTW8}              ${gateLinuxAMD64}   {name: "gate-ctw-8-linux-amd64"}
# ${gateTest8Debug}            ${gateLinuxAMD64}   {name: "gate-test-8-linux-amd64-fastdebug"}
  ${gateTestBenchmark8}        ${gateLinuxAMD64}   {name: "gate-benchmarktest-8-linux-amd64"}
# ${gateTestBenchmark8Debug}   ${gateLinuxAMD64}   {name: "gate-benchmarktest-8-linux-amd64-fastdebug"}
  ${gateStyle}                 ${gateLinuxAMD64}   {name: "gate-style-linux-amd64"}

  # Solaris SPARC
  ${gateTest8}                 ${gateSolarisSPARC} {name: "gate-test-8-solaris-sparcv9",                    timelimit: "1:00:00"}
#GR-2368  ${gateTest9}                 ${gateSolarisSPARC} {name: "gate-test-9-solaris-sparcv9",                    timelimit: "1:00:00"}
  ${gateTestCTW8}              ${gateSolarisSPARC} {name: "gate-ctw-8-solaris-sparcv9",                     timelimit: "1:00:00"}
# ${gateTest8Debug}            ${gateSolarisSPARC} {name: "gate-test-8-solaris-sparcv9-fastdebug",          timelimit: "1:00:00"}
  ${gateTestBenchmark8}        ${gateSolarisSPARC} {name: "gate-benchmarktest-8-solaris-sparcv9",           timelimit: "1:00:00"}
# ${gateTestBenchmark8Debug}   ${gateSolarisSPARC} {name: "gate-benchmarktest-8-solaris-sparcv9-fastdebug", timelimit: "1:00:00"}


  # TraceRA
  ${gateTest8}                 ${gateLinuxAMD64TraceRA} {name: "gate-test-8-linux-amd64-tracera"}
  ${gateTest8}                 ${gateLinuxAMD64TraceRABU} {name: "gate-test-8-linux-amd64-tracera-bu"}
]
