# T7-2 machine, with zone limited to one socket (half)

t72half.default : ${commonSolaris} {
  capabilities: [solaris, t72half]
  environment : {
    XMX         : "64g"
    XMS         : "64g"
    JVM_CONFIG  : ${jvm-config.default}
    JVM         : "server"
    MACHINE_NAME: "t72half"
  }
}

builds += [
  ${t72half.default} ${bench-dacapo}              { name: "bench-dacapo-solaris-t72half" }
  ${t72half.default} ${bench-dacapo-timing}       { name: "bench-dacapo-timing-solaris-t72half" }
  ${t72half.default} ${bench-scala-dacapo}        { name: "bench-scala-dacapo-solaris-t72half" }
  ${t72half.default} ${bench-scala-dacapo-timing} { name: "bench-scala-dacapo-timing-solaris-t72half" }
  ${t72half.default} ${bench-specjvm2008}         { name: "bench-specjvm2008-solaris-t72half" }
  ${t72half.default} ${bench-specjbb2015}         { name: "bench-specjbb2015-solaris-t72half" }
  ${t72half.default} ${bench-micros-graal}        { name: "bench-jmh-micros-graal-solaris-t72half" }
]
