x4150.default : ${commonLinux} {
  capabilities: [linux, x4150]
  environment : {
    XMX         : "64g"
    XMS         : "64g"
    JVM_CONFIG  : ${jvm-config.default}
    JVM         : "server"
    MACHINE_NAME: "x4150"
  }
}

builds += [
  ${bench-specjbb2005} ${x4150.default} { name: "bench-specjbb2005-linux-x4150"}
]
