x4150.default : ${commonLinux} {
  capabilities: [linux, x4150, no_frequency_scaling]
  environment : {
    XMX         : "64g"
    XMS         : "64g"
    JVM_CONFIG  : ${jvm-config.default}
    JVM         : "server"
    MACHINE_NAME: "x4150"
  }
}

x4150.default-g1gc : ${x4150.default} {
  environment : {
    JVM_CONFIG  : ${jvm-config.default}"-g1gc"
  }
}

builds += [
  ${x4150.default} ${bench-specjbb2005} { name: "bench-specjbb2005-linux-x4150"}

  ${x4150.default-g1gc} ${bench-specjbb2005} { targets : [weekly, bench], name: "bench-specjbb2005-g1gc-linux-x4150"}  
]
