x52.default : ${commonLinux} {
  capabilities: [linux, x52]
  environment : {
    XMX         : "64g"
    XMS         : "64g"
    JVM_CONFIG  : "graal-core"
    JVM         : "server"
    MACHINE_NAME: "x52"
  }
}

builds += [
  ${bench-dacapo}              ${x52.default} { name: "bench-dacapo-linux-x52" }
  ${bench-dacapo-timing}       ${x52.default} { name: "bench-dacapo-timing-linux-x52" }
  ${bench-scala-dacapo}        ${x52.default} { name: "bench-scala-dacapo-linux-x52" }
  ${bench-scala-dacapo-timing} ${x52.default} { name: "bench-scala-dacapo-timing-linux-x52" }
  ${bench-specjvm2008}         ${x52.default} { name: "bench-specjvm2008-linux-x52" }
  ${bench-specjbb2015}         ${x52.default} { name: "bench-specjbb2015-linux-x52" }
  ${bench-micros-graal}        ${x52.default} { name: "bench-jmh-micros-graal-linux-x52" }
]
