x52.default : ${commonLinux} {
  capabilities: [linux, x52, no_frequency_scaling]
  environment : {
    XMX         : "64g"
    XMS         : "64g"
    JVM_CONFIG  : ${jvm-config.default}
    JVM         : "server"
    MACHINE_NAME: "x52"
  }
}

x52.tmpfs10g : ${x52.default} {
  capabilities: [linux, x52, no_frequency_scaling, tmpfs10g]
}

builds += [
  ${x52.tmpfs10g} ${bench-dacapo-hwloc}              { name: "bench-dacapo-linux-x52" }
  ${x52.tmpfs10g} ${bench-dacapo-timing-hwloc}       { name: "bench-dacapo-timing-linux-x52" }
  ${x52.tmpfs10g} ${bench-dacapo-move-profiling-hwloc} { name: "bench-dacapo-move-profiling-linux-x52" }
  ${x52.tmpfs10g} ${bench-scala-dacapo-hwloc}        { name: "bench-scala-dacapo-linux-x52" }
  ${x52.tmpfs10g} ${bench-scala-dacapo-timing-hwloc} { name: "bench-scala-dacapo-timing-linux-x52" }
  ${x52.tmpfs10g} ${bench-scala-dacapo-move-profiling-hwloc} { name: "bench-scala-dacapo-move-profiling-linux-x52" }
  ${x52.default} ${bench-specjvm2008-Single}  { name: "bench-specjvm2008-Single-linux-x52" }
  ${x52.default} ${bench-specjvm2008-OneVM}   { name: "bench-specjvm2008-OneVM-linux-x52" }
  ${x52.default} ${bench-specjbb2015}         { name: "bench-specjbb2015-linux-x52" }
  ${x52.default} ${bench-micros-graal}        { name: "bench-jmh-micros-graal-linux-x52" }
]
