x52_libgraal.default : ${linux-amd64} {
  capabilities: ${linux-amd64.capabilities} [x52, no_frequency_scaling]
  environment : {
    XMX         : "64g"
    XMS         : "64g"
    JVM_CONFIG  : ${libgraal-config}
    JVM         : "server"
    MACHINE_NAME: "x52"
  }
}

x52_libgraal.tmpfs10g : ${x52_libgraal.default} {
  capabilities: ${x52.default.capabilities} [tmpfs10g]
}

x52_libgraal.tmpfs10g-g1gc: ${x52_libgraal.tmpfs10g} {
  environment : {
    JVM_CONFIG  : ${libgraal-config}"-g1gc"
  }
}

builds += [
  ${x52_libgraal.tmpfs10g}      ${libgraal-bench-dacapo-hwloc}                      { name: "bench-substratevm-dacapo-linux-x52" }
  ${x52_libgraal.tmpfs10g}      ${libgraal-bench-dacapo-timing-hwloc}               { name: "bench-substratevm-dacapo-timing-linux-x52" }
  ${x52_libgraal.tmpfs10g}      ${libgraal-bench-dacapo-move-profiling-hwloc}       { name: "bench-substratevm-dacapo-move-profiling-linux-x52" }
  ${x52_libgraal.tmpfs10g}      ${libgraal-bench-scala-dacapo-hwloc}                { name: "bench-substratevm-scala-dacapo-linux-x52" }
  ${x52_libgraal.tmpfs10g}      ${libgraal-bench-scala-dacapo-timing-hwloc}         { name: "bench-substratevm-scala-dacapo-timing-linux-x52" }
  ${x52_libgraal.tmpfs10g}      ${libgraal-bench-scala-dacapo-move-profiling-hwloc} { name: "bench-substratevm-scala-dacapo-move-profiling-linux-x52" }
  ${x52_libgraal.default}       ${libgraal-bench-specjvm2008-Single}                { name: "bench-substratevm-specjvm2008-Single-linux-x52" }
  ${x52_libgraal.default}       ${libgraal-bench-specjvm2008-OneVM}                 { name: "bench-substratevm-specjvm2008-OneVM-linux-x52" }
  ${x52_libgraal.default}       ${libgraal-bench-specjbb2015}                       { name: "bench-substratevm-specjbb2015-linux-x52" }
  ${x52_libgraal.default}       ${libgraal-bench-micros-graal-whitebox}             { name: "bench-substratevm-jmh-micros-graal-whitebox-linux-x52" }
  ${x52_libgraal.default}       ${libgraal-bench-micros-graal-dist}                 { name: "bench-substratevm-jmh-micros-graal-dist-linux-x52" }
  ${x52_libgraal.tmpfs10g-g1gc} ${libgraal-bench-dacapo-hwloc}                      { targets : [weekly, bench], name: "bench-substratevm-dacapo-g1gc-linux-x52" }
  ${x52_libgraal.tmpfs10g-g1gc} ${libgraal-bench-scala-dacapo-hwloc}                { targets : [weekly, bench], name: "bench-substratevm-scala-dacapo-g1gc-linux-x52" }
  ${x52_libgraal.tmpfs10g-g1gc} ${libgraal-bench-specjvm2008-Single}                { targets : [weekly, bench], name: "bench-substratevm-specjvm2008-g1gc-Single-linux-x52" }
  ${x52_libgraal.tmpfs10g-g1gc} ${libgraal-bench-specjbb2015}                       { targets : [weekly, bench], name: "bench-substratevm-specjbb2015-g1gc-linux-x52" }
]
