mxbuild/**/*
javadoc/**/*
virtualenv/**/*
downloads/**/*
mx.truffle/*.pyc
mx.truffle/env
mx.truffle/eclipse-launches/**
/src/*/nbproject/
/src/*/build.xml
/src/*/\.settings
/src/*/\.classpath
/src/*/\.project
/src/*/\bin
/src/*/\.checkstyle
/src/*/\.factorypath
/src/*/javadoc/
/src/TRUFFLE*dist/\.externalToolBuilders
hs_err_pid*.log
workingsets.xml
\.idea
*.iml
*.swp
findbugs.results
.metadata/
/eclipseformat.backup.zip
