truffleCommon: {
  setup : [
    [cd, "./truffle"]
  ]
  timelimit : "30:00"
}

gateLite : ${truffleCommon} {
  run : [
    ["mx", "build" ],
    ["mx", "unittest", "--verbose" ]
  ]
}

benchCommon: ${linux-amd64} ${oraclejdk8} {
  environment: {
    BENCH_RESULTS_FILE_PATH: "bench-results.json"
  },
  targets: [bench, weekly],
  timelimit: "1:00:00",
  setup : [
    ["cd", ${compiler-suite-root}],
    ["mx", "build" ]
  ] ${download-hsdis.setup}
  teardown : [
    ["bench-uploader.py", "${BENCH_RESULTS_FILE_PATH}"]
  ]
}

truffleWeekly: ${truffle-weekly-notifications} {
  targets: ["weekly"]
}

builds += [
  ${linux-amd64} ${oraclejdk8}    ${truffleCommon} ${eclipse} ${jdt} {run : [["mx", "--strict-compliance", "gate", "--strict-mode"]], targets : [gate], name: "gate-truffle-8"},
  ${linux-amd64} ${oraclejdk11}   ${truffleCommon} ${eclipse} {run : [["mx", "--strict-compliance", "gate", "--strict-mode"]], targets : [gate], name: "gate-truffle-11"},
  ${linux-amd64} ${oraclejdk8}    ${truffleCommon} {
    run : [
        ["mx", "build"],
        ["mx", "javadoc"],
    ],
    targets : [gate],
    name: "gate-truffle-javadoc"
  },
  ${solaris-sparcv9} ${oraclejdk8} ${gateLite} ${truffleWeekly} {
    name: "gate-truffle-solaris-lite-8"
  }
  ${solaris-sparcv9} ${oraclejdk11} ${gateLite} ${truffleWeekly} {
    name: "gate-truffle-solaris-lite-11"
  }
  ${darwin-amd64} ${oraclejdk8} ${gateLite} ${truffleWeekly} {
    name: "gate-truffle-mac-lite-8"
  }
  ${darwin-amd64} ${oraclejdk11} ${gateLite} ${truffleWeekly} {
    name: "gate-truffle-mac-lite-11"
  }
  ${windows-amd64} ${oraclejdk8} ${truffleCommon} {
    # TODO make that a full gate run
    # currently, some truffle unittests fail on windows
    run : [
      ["mx", "build" ],
      ["mx", "unittest", "--verbose" ]
    ]
    packages : {
      msvc : "==10.0"
    }
    targets : [gate],
    name: "gate-truffle-nfi-windows-8",
  }
  # BENCHMARKS
  ${benchCommon} ${truffle-bench-notifications} {
    run: [
      ["mx", "--kill-with-sigquit", "benchmark", "--results-file", "${BENCH_RESULTS_FILE_PATH}", "truffle:*", "--", "--", "com.oracle.truffle.api.benchmark*"]
    ],
    name: "bench-truffle-jmh"
  }

]
