truffleCommon: {
  setup : [
    [cd, "./truffle"]
  ]
  timelimit : "30:00"
}

gateLite : ${truffleCommon} {
  run : [
    ["mx", "build" ],
    ["mx", "unittest", "--verbose" ]
  ]
}

benchCommon: ${linux-amd64} ${oraclejdk8} {
  environment: {
    BENCH_RESULTS_FILE_PATH: "bench-results.json"
  },
  setup : [
    ["cd", ${compiler-suite-root}],
    ["mx", "build" ]
  ] ${download-hsdis.setup}
}

benchWeekly: ${benchCommon} {
  targets: [bench, weekly],
  timelimit: "3:00:00",
  teardown : [
    ["bench-uploader.py", "${BENCH_RESULTS_FILE_PATH}"]
  ]
}

truffleWeekly: ${truffle-weekly-notifications} {
  targets: ["weekly"]
}

simpleToolMavenProjectGate:  {
    mx_cmd: ["mx", "-p", "../vm", "--dynamicimports", "/graal-js"]
    packages : {
      maven : "==3.3.9"
    }
    run : [
        [set-export, ROOT_DIR, [pwd]]
        ${simpleToolMavenProjectGate.mx_cmd} ["build"],
        ["mkdir", "tmp_mvn_repo"]
        ["mx", "maven-install", "--repo", "tmp_mvn_repo", "--version-string", ${simpleToolMavenProjectGate.mx_cmd} ["graalvm-version"]],
        ["set-export", "JAVA_HOME", ${simpleToolMavenProjectGate.mx_cmd} ["graalvm-home"]],
        ["cd", "external_repos/"],
        ["python", "populate.py"],
        ["cd", "simpletool"],
        ["mvn", "-Dmaven.repo.local=$ROOT_DIR/tmp_mvn_repo", "package"],
        ["./simpletool", "js", "example.js"],
    ],
    targets : [gate],
}

simpleLanguageMavenProjectGate:  {
    mx_cmd: ["mx", "-p", "../vm", "--dynamicimports", "/substratevm", "--native-images=none"]
    packages : {
        maven : "==3.3.9"
        make: ">=3.83"
        gcc-build-essentials: ">=4.9.1" # GCC 4.9.0 fails on cluster
        binutils: ">=2.30"
        ruby: ">=2.1.0"
        valgrind: ">=3.9.0"
    }
    run : [
        [set-export, ROOT_DIR, [pwd]]
        ${simpleLanguageMavenProjectGate.mx_cmd} ["build"],
        ["mkdir", "tmp_mvn_repo"]
        ["mx", "maven-install", "--all-suites", "--repo", "tmp_mvn_repo", "--version-string", ${simpleLanguageMavenProjectGate.mx_cmd} ["graalvm-version"]],
        ["set-export", "JAVA_HOME", ${simpleLanguageMavenProjectGate.mx_cmd} ["graalvm-home"]],
        ["cd", "external_repos"],
        ["python", "populate.py"],
        ["cd", "simplelanguage"],
        ["mvn", "-Dmaven.repo.local=$ROOT_DIR/tmp_mvn_repo", "package"],
        ["./sl", "language/tests/Add.sl"],
        ["./sl", "-dump", "language/tests/Add.sl"],
        ["./sl", "-disassemble", "language/tests/Add.sl"],
        ["./sl", "language/tests/Add.sl"],
        ["./native/slnative", "language/tests/Add.sl"],
        ["$JAVA_HOME/bin/gu", "install", "-L", "component/sl-component.jar"],
        ["$JAVA_HOME/bin/sl", "language/tests/Add.sl"],
        ["$JAVA_HOME/bin/slnative", "language/tests/Add.sl"],
        ["$JAVA_HOME/bin/polyglot", "--jvm", "--language", "sl", "--file", "language/tests/Add.sl"],
        ["$JAVA_HOME/bin/gu", "remove", "sl"],
    ],
    targets : [gate],
}

builds += [
  ${linux-amd64} ${oraclejdk8}    ${truffleCommon} {run : [["mx", "build"], ["mx", "sigtest", "--check", "all"]], targets : [gate], name: "gate-truffle-sigtest"},
  ${linux-amd64} ${oraclejdk11}   ${truffleCommon} {run : [["mx", "build"], ["mx", "sigtest", "--check", "bin"]], targets : [gate], name: "gate-truffle-sigtest-11"},

  ${linux-amd64} ${oraclejdk8}    ${truffleCommon} ${simpleToolMavenProjectGate} {name: "gate-external-mvn-simpletool-8"},
  ${linux-amd64} ${labsjdk-ee-11} ${truffleCommon} ${simpleToolMavenProjectGate} {name: "gate-external-mvn-simpletool-11"},
  ${linux-amd64} ${oraclejdk8}    ${truffleCommon} ${simpleLanguageMavenProjectGate} {name: "gate-external-mvn-simplelanguage-8"},
  ${linux-amd64} ${labsjdk-ee-11} ${truffleCommon} ${simpleLanguageMavenProjectGate} {name: "gate-external-mvn-simplelanguage-11"},

  ${linux-amd64} ${oraclejdk8}    ${truffleCommon} ${eclipse} ${jdt} {run : [["mx", "--strict-compliance", "gate", "--strict-mode"]], targets : [gate], name: "gate-truffle-8"},
  ${linux-amd64} ${oraclejdk11}   ${truffleCommon} ${eclipse} {run : [["mx", "--strict-compliance", "gate", "--strict-mode"]], targets : [gate], name: "gate-truffle-oraclejdk-11"},
  ${linux-amd64} ${oraclejdk8}    ${truffleCommon} {
    run : [
        ["mx", "build"],
        ["mx", "javadoc"],
    ],
    targets : [gate],
    name: "gate-truffle-javadoc"
  },
  ${solaris-sparcv9} ${oraclejdk8Only} ${gateLite} ${truffleWeekly} {
    name: "gate-truffle-solaris-lite-8"
  },
  ${darwin-amd64} ${oraclejdk8} ${gateLite} ${truffleWeekly} {
    name: "gate-truffle-mac-lite-8"
  },
  ${darwin-amd64} ${oraclejdk11} ${gateLite} ${truffleWeekly} {
    name: "gate-truffle-mac-lite-oraclejdk-11"
  },
  ${windows-amd64} ${oraclejdk8} ${truffleCommon} {
    # TODO make that a full gate run
    # currently, some truffle unittests fail on windows
    run : [
      ["mx", "build" ],
      ["mx", "unittest", "--verbose" ]
    ]
    packages : {
      msvc : "==10.0"
    }
    targets : [gate],
    name: "gate-truffle-nfi-windows-8",
  },
  # BENCHMARKS
  ${benchWeekly} ${truffle-bench-notifications} {
    run: [
      ["mx", "--kill-with-sigquit", "benchmark", "--results-file", "${BENCH_RESULTS_FILE_PATH}", "truffle:*", "--", "--", "com.oracle.truffle"]
    ],
    name: "bench-truffle-jmh"
  },
  ${benchCommon} {
    run: [
      ["mx", "benchmark", "truffle:*", "--", "--jvm", "server", "--jvm-config", "graal-core", "--", "com.oracle.truffle", "-f", "1", "-wi", "1", "-w", "1", "-i", "1", "-r", "1"]
    ],
    targets: [gate],
    name: "gate-truffle-test-benchmarks-8"
  }
]
