truffleCommon: {
  setup : [
    [cd, "./truffle"]
  ]
  timelimit : "30:00"
}

gateLite : ${truffleCommon} {
  run : [
    ["mx", "build" ],
    ["mx", "unittest", "--verbose" ]
  ]
}

benchCommon: ${linux-amd64} ${labsjdk8} {
  environment: {
    BENCH_RESULTS_FILE_PATH: "bench-results.json"
  },
  targets: [weekly],
  timelimit: "1:00:00",
  setup : [
    ["cd", "./compiler"],
    ["mx", "build" ]
  ],
  teardown : [
    ["bench-uploader.py", "--url", "${BENCH_SERVER_URL}", "${BENCH_RESULTS_FILE_PATH}"]
  ]
}

builds += [
  ${linux-amd64} ${openjdk8} ${truffleCommon} ${eclipse} ${jdt} {run : [["mx", "--strict-compliance", "gate", "--strict-mode"]], targets : [gate], name: "gate-truffle-8"},
  ${linux-amd64} ${labsjdk9} ${truffleCommon} ${eclipse} {run : [["mx", "--strict-compliance", "gate", "--strict-mode"]], targets : [gate], name: "gate-truffle-9"},
  ${linux-amd64} ${openjdk8} ${truffleCommon} {
    run : [
        ["mx", "build"],
        ["mx", "javadoc"],
    ],
    targets : [gate],
    name: "gate-truffle-javadoc"
  },
  ${linux-amd64} ${linux-deploy} ${maven-deploy-dry-run} ${truffleCommon} {name: "gate-truffle-maven-dry-run"}
  ${solaris-sparcv9} ${labsjdk8} ${gateLite} {
    targets : [ weekly ],
    name: "gate-truffle-solaris-lite-8"
  }
  ${solaris-sparcv9} ${labsjdk9} ${gateLite} {
    targets : [ weekly ],
    name: "gate-truffle-solaris-lite-9"
  }
  ${darwin-amd64} ${labsjdk8} ${gateLite} {
    targets : [ weekly ],
    name: "gate-truffle-mac-lite-8"
  }
  ${darwin-amd64} ${labsjdk9} ${gateLite} {
    targets : [ weekly ],
    name: "gate-truffle-mac-lite-9"
  }
  ${linux-amd64} ${openjdk8} ${truffleCommon} {
    run : [
        ["mx", "build"],
        ["mx", "javadoc"],
        ["zip", "-r", "javadoc.zip", "javadoc"],
        ["git", "fetch", "origin", "gh-pages"],
        ["git", "checkout", "-f", "FETCH_HEAD", "-B", "gh-pages"],
        ["rm", "-rf", "javadoc"],
        ["git", "status" ],
        ["unzip", "-o", "javadoc.zip"],
        ["git", "add", "javadoc"],
        ["git", "config", "user.name", "Javadoc Publisher"],
        ["git", "config", "user.email", "graal-dev@openjdk.java.net"],
        ["git", "commit", "-m", [ "echo", "Javadoc as of", [ "date", "+%Y/%m/%d" ] ], "javadoc" ],
        ["git", "push", "origin", "gh-pages"],
    ],
    targets : [post-merge],
    name: "truffle-publish-javadoc"
  }
  # BENCHMARKS
  ${benchCommon} {
    run: [
      ["mx", "--kill-with-sigquit", "benchmark", "--results-file", "${BENCH_RESULTS_FILE_PATH}", "truffle:*"]
    ]
  }

]
