
maven-deploy-all-suites : ${svm-common-linux-gate} {
  mx_cmd_args : ["maven-deploy", "--all-distribution-types", "--validate", "full", "--licenses", "GPLv2-CPE,UPL", "--dry-run", "ossrh", "https://this-is-only-a-test"]
  run: [
    ["mx", "--dynamicimports", "/tools,/regex", "build"]
    ["mx", "-p", "../sdk"] ${maven-deploy-all-suites.mx_cmd_args}
    ["mx", "-p", "../truffle"] ${maven-deploy-all-suites.mx_cmd_args}
    ["mx", "-p", "../compiler"] ${maven-deploy-all-suites.mx_cmd_args}
    ["mx", "-p", "../substratevm"] ${maven-deploy-all-suites.mx_cmd_args}
    ["mx", "-p", "../tools"] ${maven-deploy-all-suites.mx_cmd_args}
    ["mx", "-p", "../regex"] ${maven-deploy-all-suites.mx_cmd_args}
  ]
  targets : [gate]
}

builds += [
  ${maven-deploy-all-suites} ${linux-amd64} ${linux-deploy} ${labsjdk8} {name: "gate-maven-dry-run-all-jdk8-linux-amd64"}
  ${maven-deploy-all-suites} ${linux-amd64} ${linux-deploy} ${oraclejdk11} {name: "gate-maven-dry-run-all-jdk11-linux-amd64"}
]
