svm-common-gate: {
  targets: [gate]
  setup: [
    ["cd", "./substratevm"]
  ] ${download-hsdis.setup}
}

svm-common-linux-gate: ${svm-common-linux-amd64} ${svm-common-gate}
svm-common-darwin-gate: ${svm-common-darwin} ${svm-common-gate}

svm-cmd-gate: ["mx", "--kill-with-sigquit", "--strict-compliance", "gate", "--strict-mode", "--tags"]

gate-svm-js: {
  run: [
    ${svm-common-clone-benchmarks}
    ${svm-cmd-gate} ["build,js"]
  ]
}

svmUnittest : {
  environment: {
      "MX_TEST_RESULTS_PATTERN": "es-XXX.json",
      "MX_TEST_RESULT_TAGS": "native-image"
  }
}

builds += [
  ${labsjdk-ce-17} ${svm-common-linux-gate} ${gate-svm-js} ${svm-capabilities-base} {
    name: "gate-svm-js"
    timelimit: "35:00"
  }
  ${labsjdk-ce-17} ${svm-common-darwin-gate} ${gate-svm-js} {
    name: "gate-svm-darwin-js"
  }
  ${labsjdk-ce-11} ${svm-common-linux-gate} ${linux-deploy} ${svmUnittest} {
    name: "gate-svm-build-ce-11"
    downloads: {
      "MUSL_TOOLCHAIN": {
        "name": "musl-toolchain",
        "version": "1.0",
        "platformspecific": true
      }
    }
    environment : {
      # Note that we must add the toolchain to the end of the PATH so that the system gcc still remains the first choice
      # for building the rest of GraalVM. The musl toolchain also provides a gcc executable that would shadow the system one
      # if it were added at the start of the PATH.
      PATH : "$PATH:$MUSL_TOOLCHAIN/bin"
    }
    run: [
      ${svm-cmd-gate} ["build,helloworld,test,nativeimagehelp,muslcbuild"]
    ]
  }
  ${labsjdk-ce-11} ${svm-common-linux-gate} ${linux-deploy} ${svmUnittest} {
    name: "gate-svm-modules-basic"
    run: [
      ${svm-cmd-gate} ["build,hellomodule,test"]
    ]
  }
  ${labsjdk-ce-17} ${svm-common-linux-gate} ${eclipse} ${jdt} ${linux-deploy} ${svmUnittest} {
    name: "gate-svm-style-fullbuild"
    timelimit: "45:00"
    environment : {
      MX_BUILD_EXPLODED : "true" # test native-image MX_BUILD_EXPLODED compatibility
    }
    run: [
      ${svm-cmd-gate} ["style,fullbuild,helloworld,test,svmjunit"]
    ]
  }
  ${labsjdk-ce-17} ${svm-common-gate} ${svm-common-windows-jdk17} ${svmUnittest} {
    name: "gate-svm-windows-basics"
    run: [
      ${svm-cmd-gate} ["build,helloworld,test,svmjunit"]
    ]
  }
]
