svm-common-gate: {
  targets: [gate]
  setup: [
    ["cd", "./substratevm"]
  ] ${download-hsdis.setup}
}

svm-common-linux-gate: ${svm-common-linux-amd64} ${svm-common-gate}
svm-common-darwin-gate: ${svm-common-darwin} ${svm-common-gate}
svm-common-windows-gate: ${svm-common-windows} ${svm-common-gate}

svm-cmd-gate: ["mx", "--kill-with-sigquit", "--strict-compliance", "gate", "--strict-mode", "--tags"]

gate-svm-js: {
  run: [
    ${svm-common-clone-benchmarks}
    ${svm-cmd-gate} ["build,js"]
  ]
}

builds += [
  ${oraclejdk8} ${svm-common-linux-gate} ${gate-svm-js} ${svm-capabilities-base} {
    name: "gate-svm-js"
    timelimit: "35:00"
  }
  ${oraclejdk8} ${svm-common-darwin-gate} ${gate-svm-js} {
    name: "gate-svm-darwin-js"
  }
  ${labsjdk-ee-11} ${svm-common-linux-gate} ${linux-deploy} {
    name: "gate-svm-build-ee-11"
    downloads: {
      "MUSL_LIBS": {
        "name": "musl-libs",
        "version": "1.0",
        "platformspecific": true
      }
    }
    environment : {
      MAVEN_REPO_LOCAL : "$BUILD_DIR/.m2"
      PATH : "$MUSL_LIBS/bin:$PATH"
    }
    run: [
      ["$MUSL_LIBS/fix_paths.sh"]
      ${svm-cmd-gate} ["build,helloworld,test,maven,nativeimagehelp,muslcbuild"]
    ]
  }
  ${oraclejdk8} ${svm-common-linux-gate} ${eclipse} ${jdt} ${linux-deploy} {
    name: "gate-svm-style-fullbuild"
    timelimit: "45:00"
    environment : {
      MAVEN_REPO_LOCAL : "$BUILD_DIR/.m2"
    }
    run: [
      ${svm-cmd-gate} ["style,fullbuild,helloworld,test,svmjunit,maven"]
    ]
  }
  ${oraclejdk8} ${svm-common-windows-gate} {
    name: "gate-svm-windows-basics"
    environment: {
      PATH : "$MVN_HOME;$PATH"  # workaround until GR-10735 is resolved
      MAVEN_REPO_LOCAL : "$BUILD_DIR\.m2"
    }
    run: [
      ${svm-cmd-gate} ["build,helloworld,svmjunit,maven"]
    ]
  }
]
