builds += [
  ${gate-svm-js-python}                      ${labsjdk8} { name: "gate-svm-js-python"}        ${svm-capabilities-base}
  ${gate-svm-darwin-js}                      ${labsjdk8} { name: "gate-svm-darwin-js"}
  ${gate-svm-style-fullbuild}                ${labsjdk8} { name: "gate-svm-style-fullbuild"}
]
