aarch64.c2 : ${linux-aarch64} {
  capabilities: ${linux-aarch64.capabilities}
  environment : {
    JVM_CONFIG   : "default"
    JVM          : "server"
    MACHINE_NAME : "xgene3"
  }
}

builds += [
]
