# Build targets

builds += [
  ${gateJAOTC} ${oraclejdk15} ${gateLinuxAMD64} {name: "gate-compiler-jaotc-openjdk-15-linux-amd64", timelimit:   "30:00"}
  ${gateJAOTC} ${oraclejdk15} ${gateLinuxAMD64} {name: "daily-jaotc-openjdk-15-linux-amd64",         timelimit: "1:20:00"} {
    environment: {
      JAOTC_TEST_GROUP: "daily"
    }
    targets: [daily]
    notify_emails: [ "dean.long@oracle.com", "igor.veresov@oracle.com" ]
  }
]
