x32.c2 : ${labsjdk8} {
  capabilities: [linux, x32, no_frequency_scaling, tmpfs25g]
  environment : {
    XMX         : "8g"
    XMS         : "8g"
    JVM_CONFIG  : "default"
    JVM         : "server"
    MACHINE_NAME: "x32"
  }
}

builds += [
  ${x32.c2} ${bench-renaissance-hwloc}        { targets: [weekly], name: "bench-compiler-renaissance-linux-x32-c2" }
]
