x52.c2 : {
  capabilities: [linux, x52, no_frequency_scaling]
  environment : {
    JVM_CONFIG   : "default"
    JVM          : "server"
    MACHINE_NAME : "x52"
    }
}

x52.c2-tmpfs10g : ${x52.c2} {
  capabilities: [linux, x52, no_frequency_scaling, tmpfs10g]
}

bench-dacapo-hwloc-forks-c2 : ${bench-dacapo-hwloc} ${weeklys-bench-notifications} {
  targets: [bench, weekly],
  setup: ${fork-counts.setup} ${bench-dacapo-hwloc.setup}
  timelimit: "01:45:00"
  environment : ${bench-dacapo-hwloc.environment} ${fork-counts.environment} ${bench-perftag.environment}  {
    FORK_COUNT_FILE: "${FORK_COUNTS_DIRECTORY}/dacapo_forks.json"
  }
}

bench-scala-dacapo-hwloc-forks-c2 : ${bench-scala-dacapo-hwloc} ${weeklys-bench-notifications} {
  targets: [bench, weekly],
  setup: ${fork-counts.setup} ${bench-scala-dacapo-hwloc.setup}
  timelimit: "03:30:00"
  environment : ${bench-scala-dacapo-hwloc.environment} ${fork-counts.environment} ${bench-perftag.environment}  {
    FORK_COUNT_FILE: "${FORK_COUNTS_DIRECTORY}/scala_dacapo_forks.json"
  }
}

bench-specjvm2008-Single-forks-c2-batch0 : ${bench-specjvm2008-Single} ${weeklys-bench-notifications} {
  targets: [bench, weekly],
  setup: ${fork-counts.setup} ${bench-specjvm2008-Single.setup}
  timelimit: "06:00:00"
  environment : ${bench-specjvm2008-Single.environment} ${fork-counts.environment} ${bench-perftag.environment} {
    FORK_COUNT_FILE: "${FORK_COUNTS_DIRECTORY}/specjvm2008_forks_batch0.json"
  }
}

bench-specjvm2008-Single-forks-c2-batch1 : ${bench-specjvm2008-Single} ${weeklys-bench-notifications} {
  targets: [bench, weekly],
  setup: ${fork-counts.setup} ${bench-specjvm2008-Single.setup}
  timelimit: "06:00:00"
  environment : ${bench-specjvm2008-Single.environment} ${fork-counts.environment} ${bench-perftag.environment} {
    FORK_COUNT_FILE: "${FORK_COUNTS_DIRECTORY}/specjvm2008_forks_batch1.json"
  }
}

bench-specjvm2008-Single-forks-c2-batch2 : ${bench-specjvm2008-Single} ${weeklys-bench-notifications} {
  targets: [bench, weekly],
  setup: ${fork-counts.setup} ${bench-specjvm2008-Single.setup}
  timelimit: "06:00:00"
  environment : ${bench-specjvm2008-Single.environment} ${fork-counts.environment} ${bench-perftag.environment} {
    FORK_COUNT_FILE: "${FORK_COUNTS_DIRECTORY}/specjvm2008_forks_batch2.json"
  }
}

bench-specjvm2008-Single-forks-c2-batch3 : ${bench-specjvm2008-Single} ${weeklys-bench-notifications} {
  targets: [bench, weekly],
  setup: ${fork-counts.setup} ${bench-specjvm2008-Single.setup}
  timelimit: "06:00:00"
  environment : ${bench-specjvm2008-Single.environment} ${fork-counts.environment} ${bench-perftag.environment} {
    FORK_COUNT_FILE: "${FORK_COUNTS_DIRECTORY}/specjvm2008_forks_batch3.json"
  }
}

bench-specjvm2008-Single-forks-c2-batch4 : ${bench-specjvm2008-Single} ${weeklys-bench-notifications} {
  targets: [bench, weekly],
  setup: ${fork-counts.setup} ${bench-specjvm2008-Single.setup}
  timelimit: "06:00:00"
  environment : ${bench-specjvm2008-Single.environment} ${fork-counts.environment} ${bench-perftag.environment} {
    FORK_COUNT_FILE: "${FORK_COUNTS_DIRECTORY}/specjvm2008_forks_batch4.json"
  }
}

bench-renaissance-hwloc-forks-c2 : ${bench-renaissance-hwloc} ${weeklys-bench-notifications} {
  targets: [bench, weekly],
  setup: ${fork-counts.setup} ${bench-renaissance-hwloc.setup}
  timelimit: "06:30:00"
  environment : ${bench-renaissance-hwloc.environment} ${fork-counts.environment} ${bench-perftag.environment} {
    FORK_COUNT_FILE: "${FORK_COUNTS_DIRECTORY}/renaissance_forks.json"
  }
}

bench-renaissance-legacy-hwloc-forks-c2-batch0 : ${bench-renaissance-legacy-hwloc} ${weeklys-bench-notifications} {
  targets: [bench, weekly],
  setup: ${fork-counts.setup} ${bench-renaissance-legacy-hwloc.setup}
  timelimit: "06:30:00"
  environment : ${bench-renaissance-legacy-hwloc.environment} ${fork-counts.environment} ${bench-perftag.environment} {
    FORK_COUNT_FILE: "${FORK_COUNTS_DIRECTORY}/renaissance_legacy_forks_batch0.json"
  }
}
bench-renaissance-legacy-hwloc-forks-c2-batch1 : ${bench-renaissance-legacy-hwloc} ${weeklys-bench-notifications} {
  targets: [bench, weekly],
  setup: ${fork-counts.setup} ${bench-renaissance-legacy-hwloc.setup}
  timelimit: "06:30:00"
  environment : ${bench-renaissance-legacy-hwloc.environment} ${fork-counts.environment} ${bench-perftag.environment} {
    FORK_COUNT_FILE: "${FORK_COUNTS_DIRECTORY}/renaissance_legacy_forks_batch1.json"
  }
}
bench-renaissance-legacy-hwloc-forks-c2-batch2 : ${bench-renaissance-legacy-hwloc} ${weeklys-bench-notifications} {
  targets: [bench, weekly],
  setup: ${fork-counts.setup} ${bench-renaissance-legacy-hwloc.setup}
  timelimit: "06:30:00"
  environment : ${bench-renaissance-legacy-hwloc.environment} ${fork-counts.environment} ${bench-perftag.environment} {
    FORK_COUNT_FILE: "${FORK_COUNTS_DIRECTORY}/renaissance_legacy_forks_batch2.json"
  }
}
bench-renaissance-legacy-hwloc-forks-c2-batch3 : ${bench-renaissance-legacy-hwloc} ${weeklys-bench-notifications} {
  targets: [bench, weekly],
  setup: ${fork-counts.setup} ${bench-renaissance-legacy-hwloc.setup}
  timelimit: "06:30:00"
  environment : ${bench-renaissance-legacy-hwloc.environment} ${fork-counts.environment} ${bench-perftag.environment} {
    FORK_COUNT_FILE: "${FORK_COUNTS_DIRECTORY}/renaissance_legacy_forks_batch3.json"
  }
}

bench-specjbb2005-forks-c2 : ${bench-specjbb2005} ${weeklys-bench-notifications} {
  targets: [bench, weekly],
  setup: ${fork-counts.setup} ${bench-specjbb2005.setup}
  timelimit: "20:00:00"
  environment : ${bench-specjbb2005.environment} ${fork-counts.environment} ${bench-perftag.environment} {
    FORK_COUNT_FILE: "${FORK_COUNTS_DIRECTORY}/specjbb2005_forks.json"
  }
}

bench-specjbb2015-forks-c2 : ${bench-specjbb2015} ${weeklys-bench-notifications} {
  targets: [bench, weekly],
  setup: ${fork-counts.setup} ${bench-specjbb2015.setup}
  timelimit: "20:00:00"
  environment : ${bench-specjbb2015.environment} ${fork-counts.environment} ${bench-perftag.environment} {
    FORK_COUNT_FILE: "${FORK_COUNTS_DIRECTORY}/specjbb2015_forks.json"
  }
}

builds += [
  ${x52.c2-tmpfs10g} ${bench-dacapo-hwloc-forks-c2}                     ${oraclejdk8} { name: "bench-forks-compiler-dacapo-linux-x52-c2" }
  ${x52.c2-tmpfs10g} ${bench-scala-dacapo-hwloc-forks-c2}               ${oraclejdk8} { name: "bench-forks-compiler-scala-dacapo-linux-x52-c2" }
  ${x52.c2} ${bench-specjvm2008-Single-forks-c2-batch0}                 ${oraclejdk8} { name: "bench-forks-compiler-specjvm2008-Single-linux-x52-c2-batch0" }
  ${x52.c2} ${bench-specjvm2008-Single-forks-c2-batch1}                 ${oraclejdk8} { name: "bench-forks-compiler-specjvm2008-Single-linux-x52-c2-batch1" }
  ${x52.c2} ${bench-specjvm2008-Single-forks-c2-batch2}                 ${oraclejdk8} { name: "bench-forks-compiler-specjvm2008-Single-linux-x52-c2-batch2" }
  ${x52.c2} ${bench-specjvm2008-Single-forks-c2-batch3}                 ${oraclejdk8} { name: "bench-forks-compiler-specjvm2008-Single-linux-x52-c2-batch3" }
  ${x52.c2} ${bench-specjvm2008-Single-forks-c2-batch4}                 ${oraclejdk8} { name: "bench-forks-compiler-specjvm2008-Single-linux-x52-c2-batch4" }
  ${x52.c2-tmpfs10g} ${bench-renaissance-hwloc-forks-c2}                ${oraclejdk8} { name: "bench-forks-compiler-renaissance-linux-x52-c2" }
  ${x52.c2-tmpfs10g} ${bench-renaissance-legacy-hwloc-forks-c2-batch0}  ${oraclejdk8} { name: "bench-forks-compiler-renaissance-legacy-linux-x52-c2-batch0" }
  ${x52.c2-tmpfs10g} ${bench-renaissance-legacy-hwloc-forks-c2-batch1}  ${oraclejdk8} { name: "bench-forks-compiler-renaissance-legacy-linux-x52-c2-batch1" }
  ${x52.c2-tmpfs10g} ${bench-renaissance-legacy-hwloc-forks-c2-batch2}  ${oraclejdk8} { name: "bench-forks-compiler-renaissance-legacy-linux-x52-c2-batch2" }
  ${x52.c2-tmpfs10g} ${bench-renaissance-legacy-hwloc-forks-c2-batch3}  ${oraclejdk8} { name: "bench-forks-compiler-renaissance-legacy-linux-x52-c2-batch3" }
  ${x52.c2} ${bench-specjbb2005-forks-c2}                               ${oraclejdk8} { name: "bench-forks-compiler-specjbb2005-linux-x52-c2" }
  ${x52.c2} ${bench-specjbb2015-forks-c2}                               ${oraclejdk8} { name: "bench-forks-compiler-specjbb2015-linux-x52-c2" }
]
