mxbuild/**/*
javadoc/**/*
virtualenv/**/*
downloads/**/*
mx.examples/*.pyc
mx.examples/env
mx.examples/eclipse-launches/**
mx.examples/.project
mx.examples/.pydevproject
mx.imports/**/*
/src/*/nbproject/
/src/*/build.xml
/src/*/\.settings
/src/*/\.classpath
/src/*/\.project
/src/*/\bin
/src/*/\.checkstyle
/src/*/\.factorypath
/src/*dist/\.externalToolBuilders
src_gen/**/*
hs_err_pid*.log
workingsets.xml
\.idea
*.iml
*.swp
findbugs.results
.metadata/
/eclipseformat.backup.zip
