examplesCommon: {
  setup : [
    [cd, "./examples"]
  ]
  timelimit : "30:00"
}

examplesGate : ${examplesCommon} {
  targets : [ gate ],
  run : [
    ["mx", "gate"]
  ]
}

builds += [
  ${linux-amd64}     ${oraclejdk8}     ${examplesGate} ${eclipse} ${jdt} { name: "gate-examples-linux-8"   },
  ${linux-amd64}     ${oraclejdk11}    ${examplesGate} ${eclipse}        { name: "gate-examples-linux-oraclejdk-11"  },
  ${solaris-sparcv9} ${oraclejdk8Only} ${examplesGate}                   { name: "gate-examples-solaris-8" },
  ${darwin-amd64}    ${oraclejdk8}     ${examplesGate}                   { name: "gate-examples-darwin-8"  },
]
