*.pyc
*.orig
*.csv
*.iml
*.swp
*.swn
*.swo
*.class
*.log
*.bak
*.aux
*.pdf
*.dot
*.pyc
*.hprof
*.json
*.log
*.cfg
*.bgv
*.jar
*.zip
*.rej
*~
core.*
/graph-strings-*/
/mx.compiler/env
/mx.compiler/eclipse-launches/
/graal.options
/workingsets.xml
.idea
/mxbuild
/mx.imports
ecj.jar
/javadoc
/src/*/nbproject/
/src/*/build.xml
/src/*/.settings
/src/*/.classpath
/src/*/.project
/src/*/bin/
/src/*/.checkstyle
/src/*/*.iml
/src/*/.factorypath
/src/*.dist/
/src/*/javadoc/
/scratch/
/test-output/
.DS_Store
