mxbuild/**/*
javadoc/**/*
virtualenv/**/*
downloads/**/*
mx.sdk/*.pyc
mx.sdk/env
mx.sdk/eclipse-launches/**
mx.imports/**/*
/src/*/nbproject/
/src/*/build.xml
/src/*/\.settings
/src/*/\.classpath
/src/*/\.project
/src/*/\bin
/src/*/\.checkstyle
/src/*/\.factorypath
/src/*.dist/
src/*.dist/\.externalToolBuilders/**
src_gen/**/*
hs_err_pid*.log
workingsets.xml
\.idea
*.iml
*.swp
findbugs.results
.metadata/
/eclipseformat.backup.zip
