sdkCommon: {
  setup : [
    [cd, "./sdk"]
  ]
  timelimit : "30:00"
}

sdkGate : ${sdkCommon} {
  targets : [ gate ],
  run : [
    ["mx", "gate"]
  ]
}

builds += [
  ${linux-amd64}     ${oraclejdk8}     ${sdkGate} ${eclipse} ${jdt} { name: "gate-sdk-linux-8"   },
  ${linux-amd64}     ${oraclejdk11}    ${sdkGate} ${eclipse}        { name: "gate-sdk-linux-oraclejdk-11"  },
  ${darwin-amd64}    ${oraclejdk8}     ${sdkGate}                   { name: "gate-sdk-darwin-8"  },
]
