.x-dashboard-left-content {
  min-width: 15%;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.x-dashboard-right-content {
  height: calc(100vh - 51px - 57px - 8px);
}

.x-dashboard-data-source-list {
  height: calc(100vh - 51px - 57px - 44px - 12px);
}

.x-mosaic-tile {
  text-align: center;
  margin: .5rem;  
}

.x-tree-map-histogram-tooltip-divider {
  height: 0;
  width: 100%;
  border-bottom: 1px solid #cbcbcb;
  margin: 3px 0;
}
.x-tree-map-histogram-tooltip {
  max-width: 870px;
}
