toolsCommon: {
  setup : [
    [cd, "./tools"]
  ]
  timelimit : "30:00"
}

toolsGateLite : ${toolsCommon} {
  run : [
    ["mx", "build" ],
    ["mx", "unittest", "--verbose" ]
    ["mx", "sigtest" ]
  ]
}

toolsWeekly: ${tools-weekly-notifications} {
  targets: ["weekly"]
}

builds += [
  ${linux-amd64} ${oraclejdk8}    ${toolsCommon} ${eclipse} ${jdt} {run : [["mx", "--strict-compliance", "gate", "--strict-mode"]], targets : [gate], name: "gate-tools-8"},
  ${linux-amd64} ${oraclejdk11}   ${toolsCommon} ${eclipse} {run : [["mx", "--strict-compliance", "gate", "--strict-mode"]], targets : [gate], name: "gate-tools-oraclejdk-11"},
  ${linux-amd64} ${oraclejdk8}    ${toolsCommon} {
    run : [
        ["mx", "build"],
        ["mx", "javadoc"],
    ],
    targets : [gate],
    name: "gate-tools-javadoc"
  },
  ${windows-amd64} ${oraclejdk8}  ${toolsGateLite} {
    packages : {
      msvc : "==10.0"
    },
    targets : [gate],
    name: "gate-tools-windows-8"
  },

  ${darwin-amd64} ${oraclejdk8} ${toolsGateLite} ${toolsWeekly} {
    name: "gate-tools-mac-lite-8"
  }
  ${darwin-amd64} ${oraclejdk11} ${toolsGateLite} ${toolsWeekly} {
    name: "gate-tools-mac-lite-oraclejdk-11"
  }
  ${linux-aarch64} ${labsjdk11} ${toolsGateLite} ${toolsWeekly} {
    name: "gate-tools-linux-aarch64-lite-labsjdk-11"
  }
]
