toolsCommon: {
  setup : [
    [cd, "./tools"]
  ]
  timelimit : "30:00"
}

toolsGateLite : ${toolsCommon} {
  run : [
    ["mx", "build" ],
    ["mx", "unittest", "--verbose" ]
  ]
}

toolsWeekly: ${tools-weekly-notifications} {
  targets: ["weekly"]
}

builds += [
  ${linux-amd64} ${oraclejdk8}    ${toolsCommon} ${eclipse} ${jdt} {run : [["mx", "--strict-compliance", "gate", "--strict-mode"]], targets : [gate], name: "gate-tools-8"},
  ${linux-amd64} ${oraclejdk11}   ${toolsCommon} ${eclipse} {run : [["mx", "--strict-compliance", "gate", "--strict-mode"]], targets : [gate], name: "gate-tools-11"},
  ${linux-amd64} ${oraclejdk8}    ${toolsCommon} {
    run : [
        ["mx", "build"],
        ["mx", "javadoc"],
    ],
    targets : [gate],
    name: "gate-tools-javadoc"
  },
  ${solaris-sparcv9} ${oraclejdk8} ${toolsGateLite} ${toolsWeekly} {
    name: "gate-tools-solaris-lite-8"
  }
  ${solaris-sparcv9} ${oraclejdk11} ${toolsGateLite} ${toolsWeekly} {
    name: "gate-tools-solaris-lite-11"
  }
  ${darwin-amd64} ${oraclejdk8} ${toolsGateLite} ${toolsWeekly} {
    name: "gate-tools-mac-lite-8"
  }
  ${darwin-amd64} ${oraclejdk11} ${toolsGateLite} ${toolsWeekly} {
    name: "gate-tools-mac-lite-11"
  }
]
