/simplelanguage/language/target/
/simplelanguage/language/src/main/java/com
/simplelanguage/language/src/main/java/META-INF
/simplelanguage/language/src/test/resources
/simplelanguage/language/src/test/java/com
/simplelanguage/language/src/test/resources
/simplelanguage/language/tests
/simplelanguage/launcher/target/
/simplelanguage/launcher/src/main/java/com
/simplelanguage/launcher/src/main/java/META-INF
/simplelanguage/launcher/src/test/resources
/simplelanguage/launcher/src/test/java/com
/simplelanguage/launcher/src/test/resources
/simplelanguage/tck/target/
/simplelanguage/tck/src/main/java/com
/simplelanguage/tck/src/main/java/META-INF
/simplelanguage/tck/src/test/resources
/simplelanguage/tck/src/test/java/com
/simplelanguage/tck/src/test/resources
/simplelanguage/standalone/target/
/simplelanguage/standalone/src/main/java/com
/simplelanguage/standalone/src/main/java/META-INF
/simplelanguage/standalone/src/test/resources
/simplelanguage/standalone/src/test/java/com
/simplelanguage/standalone/src/test/resources
/simpletool/target/
/simpletool/src/main/java/com
/simpletool/src/main/java/META-INF
/simpletool/src/test/resources
/simpletool/src/test/java/com
/simpletool/src/test/resources
