aarch64.default : ${linux-aarch64} {
  capabilities: ${linux-aarch64.capabilities}
  environment : {
    JVM_CONFIG  : ${jvm-config.default}
    JVM         : "server"
    MACHINE_NAME: "xgene3"
  }
}

aarch64.default-libgraal : ${aarch64.default} {
  environment : {
    MX_PRIMARY_SUITE_PATH: "../"${vm_subdir}
    MX_ENV_PATH: ${libgraal_env}
    JVM_CONFIG  : ${jvm-config.default}"-libgraal"
  }
}

builds += [
]
