# still required by a couple of legacy overlay jobs

hwloc.node : ["hwloc-bind", "--cpubind", "node:${MACHINE_NODE}", "--membind", "node:${MACHINE_NODE}", "--"]

export.node0: [export, "MACHINE_NODE=0", "BENCH_RESULTS_FILE_PATH=node0-${BASE_BENCH_RESULTS_FILE_NAME}"]
export.node1: [export, "MACHINE_NODE=1", "BENCH_RESULTS_FILE_PATH=node1-${BASE_BENCH_RESULTS_FILE_NAME}"]

compilerCommon : ${common} {
  setup : [
    [cd, ${compiler-suite-root}]
  ] ${download-hsdis.setup}
}

bench-common : ${compilerCommon} {
  docker : {
    "image": "phx.ocir.io/oraclelabs2/c_graal/buildslave:buildslave_ol8",
    "mount_modules": true
  }
  environment: {
    MX_PYTHON_VERSION : "3",
    BASE_BENCH_RESULTS_FILE_NAME: "bench-results.json",
    BENCH_RESULTS_FILE_PATH : "bench-results.json"
  }
  setup: ${compilerCommon.setup} [
    ["mx", "build"]
  ]
  teardown : [
    ["bench-uploader.py", "${BENCH_RESULTS_FILE_PATH}"]
  ]
}

large-heap: {
  environment : {
    XMS: ${LARGE_HEAP_SIZE}
    XMX: ${LARGE_HEAP_SIZE}
  }
}

specjbb-large-heap: {
  environment : {
    XMS: ${LARGE_HEAP_SIZE}
    XMX: ${LARGE_HEAP_SIZE}
    XMN: ${LARGE_YOUNG_GEN_SIZE}
  }
}

default-heap: {
  environment : {
    XMS: ${DEFAULT_HEAP_SIZE}
    XMX: ${DEFAULT_HEAP_SIZE}
  }
}
