# hwloc (Hardware Locality) provides means to bind a process to NUMA nodes
hwloc.bench-common : {
  environment: {
    BASE_BENCH_RESULTS_FILE_NAME: "bench-results.json"
    LOG_FILE_NAME : "-output.log"
    MACHINE_NODE: undefined
    BENCH_RESULTS_FILE_PATH: undefined
  }
  setup : [
    ["set", "-o", "pipefail"]
  ]
  teardown : [
    ["bench-uploader.py", "node0-${BASE_BENCH_RESULTS_FILE_NAME}"]
    ["bench-uploader.py", "node1-${BASE_BENCH_RESULTS_FILE_NAME}"]
  ]
  logs : [
    "*output.log"
  ]
}

hwloc.cmd.nobackground.suffix : ["|","tee", "-a", "${LOGDIR}/node${MACHINE_NODE}${LOG_FILE_NAME}"]
hwloc.cmd.suffix : ${hwloc.cmd.nobackground.suffix} ["&"]

hwloc.node : ["hwloc-bind", "--cpubind", "node:${MACHINE_NODE}", "--membind", "node:${MACHINE_NODE}", "--", "isolate-network.sh"]

export.node0: [export, "MACHINE_NODE=0", "BENCH_RESULTS_FILE_PATH=node0-${BASE_BENCH_RESULTS_FILE_NAME}"]
export.node1: [export, "MACHINE_NODE=1", "BENCH_RESULTS_FILE_PATH=node1-${BASE_BENCH_RESULTS_FILE_NAME}"]



bench-micros-graal-whitebox-hwloc: ${bench-micros-graal-whitebox} ${hwloc.bench-common} {
  setup: ${bench-micros-graal-whitebox.setup} ${hwloc.bench-common.setup}
  run: [
    [export, "LOGDIR=${PWD}"]
    ${export.node0}
    ${hwloc.node} ${bench-jvmci.mx-micros-graal-whitebox} ${bench-arguments} ${hwloc.cmd.suffix}
    ${export.node1}
    ${hwloc.node} ${bench-jvmci.mx-micros-graal-whitebox} ${bench-arguments} ${hwloc.cmd.suffix}
    [wait]
  ]
}

bench-micros-graal-dist-hwloc: ${bench-micros-graal-dist} ${hwloc.bench-common} {
  setup: ${bench-micros-graal-dist.setup} ${hwloc.bench-common.setup}
  run: [
    [export, "LOGDIR=${PWD}"]
    ${export.node0}
    ${hwloc.node} ${bench-jvmci.mx-micros-graal-dist} ${bench-arguments} ${hwloc.cmd.suffix}
    ${export.node1}
    ${hwloc.node} ${bench-jvmci.mx-micros-graal-dist} ${bench-arguments} ${hwloc.cmd.suffix}
    [wait]
  ]
}

bench-awfy-hwloc: ${bench-awfy} ${hwloc.bench-common} {
  setup: ${bench-awfy.setup} ${hwloc.bench-common.setup}
  run: [
    [export, "LOGDIR=${PWD}"]
    ${export.node0}
    ${hwloc.node} ${bench-jvmci.mx-awfy} ${bench-arguments} ${hwloc.cmd.suffix}
    ${export.node1}
    ${hwloc.node} ${bench-jvmci.mx-awfy} ${bench-arguments} ${hwloc.cmd.suffix}
    [wait]
  ]
}

bench-dacapo-hwloc: ${bench-dacapo} ${hwloc.bench-common} {
  setup: ${bench-dacapo.setup} ${hwloc.bench-common.setup}
  run: [
    [export, "LOGDIR=${PWD}"]
    ${export.node0}
    ${hwloc.node} ${bench-jvmci.mx-dacapo} ${bench-arguments} ${hwloc.cmd.suffix}
    ${export.node1}
    ${hwloc.node} ${bench-jvmci.mx-dacapo} ${bench-arguments} ${hwloc.cmd.suffix}
    [wait]
  ]
}

bench-dacapo-timing-hwloc: ${bench-dacapo-timing} ${hwloc.bench-common} {
  setup: ${bench-dacapo-timing.setup} ${hwloc.bench-common.setup}
  run: [
    [export, "LOGDIR=${PWD}"]
    ${export.node0}
    ${hwloc.node} ${bench-jvmci.mx-dacapo-timing} ${bench-arguments} ${hwloc.cmd.suffix}
    ${export.node1}
    ${hwloc.node} ${bench-jvmci.mx-dacapo-timing} ${bench-arguments} ${hwloc.cmd.suffix}
    [wait]
  ]
}

bench-scala-dacapo-hwloc: ${bench-scala-dacapo} ${hwloc.bench-common} {
  setup: ${bench-scala-dacapo.setup} ${hwloc.bench-common.setup}
  run: [
    [export, "LOGDIR=${PWD}"]
    ${export.node0}
    ${hwloc.node} ${bench-jvmci.mx-scala-dacapo} ${bench-arguments} ${hwloc.cmd.suffix}
    ${export.node1}
    ${hwloc.node} ${bench-jvmci.mx-scala-dacapo} ${bench-arguments} ${hwloc.cmd.suffix}
    [wait]
  ]
}

bench-scala-dacapo-timing-hwloc: ${bench-scala-dacapo-timing} ${hwloc.bench-common} {
  setup: ${bench-scala-dacapo-timing.setup} ${hwloc.bench-common.setup}
  run: [
    [export, "LOGDIR=${PWD}"]
    ${export.node0}
    ${hwloc.node} ${bench-jvmci.mx-scala-dacapo-timing} ${bench-arguments} ${hwloc.cmd.suffix}
    ${export.node1}
    ${hwloc.node} ${bench-jvmci.mx-scala-dacapo-timing} ${bench-arguments} ${hwloc.cmd.suffix}
    [wait]
  ]
}

bench-renaissance-hwloc: ${bench-renaissance} ${hwloc.bench-common} {
  setup: ${bench-renaissance.setup} ${hwloc.bench-common.setup}
  run: [
    [export, "SPARK_LOCAL_IP=127.0.0.1"]
    [export, "LOGDIR=${PWD}"]
    ${export.node0}
    ${hwloc.node} ${bench-jvmci.mx-renaissance} ${bench-arguments} ${hwloc.cmd.suffix}
    ${export.node1}
    ${hwloc.node} ${bench-jvmci.mx-renaissance} ${bench-arguments} ${hwloc.cmd.suffix}
    [wait]
  ]
}


bench-renaissance-0-10-0-hwloc: ${bench-renaissance} ${hwloc.bench-common} {
  setup: ${bench-renaissance.setup} ${hwloc.bench-common.setup}
  run: [
    [export, "RENAISSANCE_VERSION=0.10.0"]
    [export, "SPARK_LOCAL_IP=127.0.0.1"]
    [export, "LOGDIR=${PWD}"]
    ${export.node0}
    ${hwloc.node} ${bench-jvmci.mx-renaissance} ["--bench-suite-version=$RENAISSANCE_VERSION"] ${bench-arguments} ${hwloc.cmd.suffix}
    ${export.node1}
    ${hwloc.node} ${bench-jvmci.mx-renaissance} ["--bench-suite-version=$RENAISSANCE_VERSION"] ${bench-arguments} ${hwloc.cmd.suffix}
    [wait]
  ]
}


bench-renaissance-legacy-hwloc: ${bench-renaissance-legacy} ${hwloc.bench-common} {
  setup: ${bench-renaissance-legacy.setup} ${hwloc.bench-common.setup}
  run: [
    [export, "SPARK_LOCAL_IP=127.0.0.1"]
    [export, "LOGDIR=${PWD}"]
    ${export.node0}
    ${hwloc.node} ${bench-jvmci.mx-renaissance-legacy} ${bench-arguments} ${hwloc.cmd.suffix}
    ${export.node1}
    ${hwloc.node} ${bench-jvmci.mx-renaissance-legacy} ${bench-arguments} ${hwloc.cmd.suffix}
    [wait]
  ]
}


bench-specjvm2008-Single-hwloc: ${bench-specjvm2008-Single} ${hwloc.bench-common} {
  setup: ${bench-specjvm2008-Single.setup} ${hwloc.bench-common.setup}
  run: [
    [export, "LOGDIR=${PWD}"]
    ${export.node0}
    ${hwloc.node} ${bench-jvmci.mx-specjvm2008-Single} ${bench-arguments} ${hwloc.cmd.suffix}
    ${export.node1}
    ${hwloc.node} ${bench-jvmci.mx-specjvm2008-Single} ${bench-arguments} ${hwloc.cmd.suffix}
    [wait]
  ]
}


bench-specjvm2008-OneVM-hwloc: ${bench-specjvm2008-OneVM} ${hwloc.bench-common} {
  setup: ${bench-specjvm2008-OneVM.setup} ${hwloc.bench-common.setup}
  run: [
    [export, "LOGDIR=${PWD}"]
    ${export.node0}
    ${hwloc.node} ${bench-jvmci.mx-specjvm2008-OneVM} ${bench-arguments} ${hwloc.cmd.suffix}
    ${export.node1}
    ${hwloc.node} ${bench-jvmci.mx-specjvm2008-OneVM} ${bench-arguments} ${hwloc.cmd.suffix}
    [wait]
  ]
}


bench-specjbb2005-hwloc: ${bench-specjbb2005} ${hwloc.bench-common} {
  setup: ${bench-specjbb2005.setup} ${hwloc.bench-common.setup}
  run: [
    [export, "LOGDIR=${PWD}"]
    ${export.node0}
    ${hwloc.node} ${bench-jvmci.mx-specjbb2005} ${bench-arguments} ["input.ending_number_warehouses=77"] ${hwloc.cmd.suffix}
    ${export.node1}
    ${hwloc.node} ${bench-jvmci.mx-specjbb2005} ${bench-arguments} ["input.ending_number_warehouses=77"] ${hwloc.cmd.suffix}
    [wait]
  ]
}


bench-specjbb2015-hwloc: ${bench-specjbb2015} ${hwloc.bench-common} {
  setup: ${bench-specjbb2015.setup} ${hwloc.bench-common.setup}
  run: [
    [export, "LOGDIR=${PWD}"]
    ${export.node0}
    ${hwloc.node} ${bench-jvmci.mx-specjbb2015} ${bench-arguments} ${hwloc.cmd.suffix}
    ${export.node1}
    ${hwloc.node} ${bench-jvmci.mx-specjbb2015} ${bench-arguments} ${hwloc.cmd.suffix}
    [wait]
  ]
}
