# DaCapo-related targets

bench-arguments : ["--machine-name", "${MACHINE_NAME}", "--", "-Xmx${XMX}", "-Xms${XMS}", "-XX:+PrintConcurrentLocks", "-Dgraal.CompilationFailureAction=Diagnose", "--jvm-config=${JVM_CONFIG}", "--jvm=${JVM}"]

bench-jvmci : {
  mx-benchmark : ["mx", "--kill-with-sigquit", "benchmark", "--fork-count-file=${FORK_COUNT_FILE}", "--extras=${BENCH_SERVER_EXTRAS}", "--results-file", "${BENCH_RESULTS_FILE_PATH}"]
  mx-dacapo : ${bench-jvmci.mx-benchmark} ["dacapo:*"]
  mx-scala-dacapo : ${bench-jvmci.mx-benchmark} ["scala-dacapo:*"]
  mx-dacapo-timing : ${bench-jvmci.mx-benchmark} ["dacapo-timing:*"]
  mx-scala-dacapo-timing : ${bench-jvmci.mx-benchmark} ["scala-dacapo-timing:*"]
  mx-specjvm2008-Single: ${bench-jvmci.mx-benchmark} ["specjvm2008:*"]
  mx-specjvm2008-OneVM: ${bench-jvmci.mx-benchmark} ["specjvm2008"]
  mx-specjbb2005: ${bench-jvmci.mx-benchmark} ["specjbb2005"]
  mx-specjbb2015: ${bench-jvmci.mx-benchmark} ["specjbb2015"]
  mx-renaissance: ${bench-jvmci.mx-benchmark} ["renaissance:*"]
  mx-renaissance-no-db-shootout: ${bench-jvmci.mx-benchmark} ["renaissance:~db-shootout"]
  mx-renaissance-legacy: ${bench-jvmci.mx-benchmark} ["renaissance-legacy:*"]
  mx-spark-sql-perf: ${bench-jvmci.mx-benchmark} ["spark-sql-perf"]
  mx-micros-graal-whitebox: ${bench-jvmci.mx-benchmark} ["jmh-whitebox:*"]
  mx-micros-graal-dist: ${bench-jvmci.mx-benchmark} ["jmh-dist:GRAAL_COMPILER_MICRO_BENCHMARKS"]
  mx-teardown : ["bench-uploader.py", "${BENCH_RESULTS_FILE_PATH}"]
}

bench-common : ${compilerCommon} {
  environment: {
    BENCH_RESULTS_FILE_PATH : "bench-results.json"
  }
  setup: ${compilerCommon.setup} [
    ["mx", "build"]
  ]
  teardown : [
    ${bench-jvmci.mx-teardown}
  ]
}

large-heap: {
  environment : {
    XMS: ${LARGE_HEAP_SIZE}
    XMX: ${LARGE_HEAP_SIZE}
  }
}

specjbb-large-heap: {
  environment : {
    XMS: ${LARGE_HEAP_SIZE}
    XMX: ${LARGE_HEAP_SIZE}
    XMN: ${LARGE_YOUNG_GEN_SIZE}
  }
}

default-heap: {
  environment : {
    XMS: ${DEFAULT_HEAP_SIZE}
    XMX: ${DEFAULT_HEAP_SIZE}
  }
}

bench-dacapo: ${bench-common} ${default-heap} ${dacapo-bench-notifications} {
  targets : [bench, post-merge]
  run: [
    ${bench-jvmci.mx-dacapo} ${bench-arguments}
  ]
}

bench-dacapo-timing: ${bench-common} ${default-heap} ${dacapo-bench-notifications} {
  targets: [bench, daily]
  run: [
    ${bench-jvmci.mx-dacapo-timing} ${bench-arguments}
  ]
}

# Scala DaCapo-related targets

bench-scala-dacapo: ${bench-common} ${default-heap} ${scala-dacapo-bench-notifications} {
  targets: [bench, post-merge]
  run: [
    ${bench-jvmci.mx-scala-dacapo} ${bench-arguments}
  ],
  timelimit: "45:00"
}

bench-scala-dacapo-timing: ${bench-common} ${default-heap} ${scala-dacapo-bench-notifications} {
  targets: [bench, daily]
  run: [
    ${bench-jvmci.mx-scala-dacapo-timing} ${bench-arguments}
  ],
  timelimit: "45:00"
}

# SPECjbb2005-related targets

bench-specjbb2005: ${bench-common} ${specjbb-large-heap} ${specjbb-bench-notifications} {
  targets: [bench, daily]
  downloads: {
    SPECJBB2005: { name: specjbb2005, version: "1.07" }
  }
  run: [
    ${bench-jvmci.mx-specjbb2005} ${bench-arguments} ["input.ending_number_warehouses=77"]
  ]
  timelimit: "4:00:00"
}

# SPECJvm2008-related targets
bench-specjvm2008: ${bench-common} ${large-heap} ${specjvm-bench-notifications} {
  downloads: {
    SPECJVM2008: { name: specjvm2008, version: "1.01" }
  }
  teardown: ${bench-common.teardown} [
    [rm, "-r", "${SPECJVM2008}/results"]
  ]
  timelimit: "2:50:00"
}

bench-specjvm2008-Single: ${bench-specjvm2008} ${specjvm-bench-notifications} {
  targets: [bench, post-merge]
  run: [
    ${bench-jvmci.mx-specjvm2008-Single} ${bench-arguments} [
      "--", "-ikv", "-it", "240s", "-wt", "120s"
    ]
  ]
}

bench-specjvm2008-OneVM: ${bench-specjvm2008} ${specjvm-bench-notifications} {
  targets: [bench, weekly]
  run: [
    ${bench-jvmci.mx-specjvm2008-OneVM} ${bench-arguments} [
      "--", "-it", "240s", "-wt", "120s"
    ]
  ]
}

# SPECjbb2015-related targets

bench-specjbb2015: ${bench-common} ${specjbb-large-heap} ${specjbb-bench-notifications} {
  targets: [bench, daily]
  run: [
    ${bench-jvmci.mx-specjbb2015} ${bench-arguments}
  ]
  downloads: {
    SPECJBB2015: { name: specjbb2015, version: "1.03" }
  }
  timelimit: "3:00:00"
}

# JMH micros graal

bench-micros-graal-whitebox: ${bench-common} ${default-heap} ${micros-bench-notifications} {
  targets: [bench, weekly]
  run: [
    ${bench-jvmci.mx-micros-graal-whitebox} ${bench-arguments}
  ]
  timelimit: "3:00:00"
}

bench-micros-graal-dist: ${bench-common} ${default-heap} ${micros-bench-notifications} {
  targets: [bench, weekly]
  run: [
    ${bench-jvmci.mx-micros-graal-dist} ${bench-arguments}
  ]
  timelimit: "3:00:00"
}

# Renaissance-related targets

bench-renaissance: ${bench-common} ${default-heap} ${renaissance-bench-notifications} {
  targets: [bench, post-merge]
  run: [
    ${bench-jvmci.mx-renaissance} ${bench-arguments}
  ]
  timelimit: "3:00:00"
}

bench-renaissance-0-10-0: ${bench-common} ${default-heap} ${renaissance-bench-notifications} {
  targets: [bench, weekly]
  run: [
    ${bench-jvmci.mx-renaissance} ["--bench-suite-version=0.10.0"] ${bench-arguments}
  ]
  timelimit: "3:00:00"
}

bench-renaissance-no-db-shootout: ${bench-common} ${default-heap} ${renaissance-bench-notifications} {
  targets: [bench, post-merge]
  run: [
    ${bench-jvmci.mx-renaissance-no-db-shootout} ${bench-arguments}
  ]
  timelimit: "3:00:00"
}

bench-renaissance-legacy: ${bench-common} ${default-heap} ${renaissance-bench-notifications} {
  targets: [bench, post-merge]
  run: [
    ${bench-jvmci.mx-renaissance-legacy} ${bench-arguments}
  ]
  downloads: {
    RENAISSANCE_LEGACY: { name: renaissance, version: "0.1" }
  }
  timelimit: "2:45:00"
}

# spark-sql-perf-related targets

bench-spark-sql-perf: ${bench-common} ${default-heap} {
  targets: [bench, daily]
  run: [
    ${bench-jvmci.mx-spark-sql-perf} ${bench-arguments}
  ]
  downloads: {
    SPARK_SQL_PERF: { name: spark-sql-perf, version: "0.1" }
  }
  timelimit: "0:30:00"
}
