bench-dacapo-hwloc-forks : ${bench-dacapo-hwloc} ${weeklys-bench-notifications} {
  targets: [bench, weekly],
  setup: ${fork-counts.setup} ${bench-dacapo-hwloc.setup}
  timelimit: "02:45:00"
  environment : ${bench-dacapo-hwloc.environment} ${fork-counts.environment} {
    FORK_COUNT_FILE: "${FORK_COUNTS_DIRECTORY}/compiler/dacapo_forks.json"
  }
}

bench-scala-dacapo-hwloc-forks : ${bench-scala-dacapo-hwloc} ${weeklys-bench-notifications} {
  targets: [bench, weekly],
  setup: ${fork-counts.setup} ${bench-scala-dacapo-hwloc.setup}
  timelimit: "03:30:00"
  environment : ${bench-scala-dacapo-hwloc.environment} ${fork-counts.environment} {
    FORK_COUNT_FILE: "${FORK_COUNTS_DIRECTORY}/compiler/scala_dacapo_forks.json"
  }
}

bench-specjvm2008-Single-hwloc-forks-batch0 : ${bench-specjvm2008-Single-hwloc} ${weeklys-bench-notifications} {
  targets: [bench, weekly],
  setup: ${fork-counts.setup} ${bench-specjvm2008-Single-hwloc.setup}
  timelimit: "06:00:00"
  environment : ${bench-specjvm2008-Single-hwloc.environment} ${fork-counts.environment} {
    FORK_COUNT_FILE: "${FORK_COUNTS_DIRECTORY}/compiler/specjvm2008_forks_batch0.json"
  }
}

bench-specjvm2008-Single-hwloc-forks-batch1 : ${bench-specjvm2008-Single-hwloc} ${weeklys-bench-notifications} {
  targets: [bench, weekly],
  setup: ${fork-counts.setup} ${bench-specjvm2008-Single-hwloc.setup}
  timelimit: "06:00:00"
  environment : ${bench-specjvm2008-Single-hwloc.environment} ${fork-counts.environment} {
    FORK_COUNT_FILE: "${FORK_COUNTS_DIRECTORY}/compiler/specjvm2008_forks_batch1.json"
  }
}

bench-specjvm2008-Single-hwloc-forks-batch2 : ${bench-specjvm2008-Single-hwloc} ${weeklys-bench-notifications} {
  targets: [bench, weekly],
  setup: ${fork-counts.setup} ${bench-specjvm2008-Single-hwloc.setup}
  timelimit: "06:00:00"
  environment : ${bench-specjvm2008-Single-hwloc.environment} ${fork-counts.environment} {
    FORK_COUNT_FILE: "${FORK_COUNTS_DIRECTORY}/compiler/specjvm2008_forks_batch2.json"
  }
}

bench-specjvm2008-Single-hwloc-forks-batch3 : ${bench-specjvm2008-Single-hwloc} ${weeklys-bench-notifications} {
  targets: [bench, weekly],
  setup: ${fork-counts.setup} ${bench-specjvm2008-Single-hwloc.setup}
  timelimit: "06:00:00"
  environment : ${bench-specjvm2008-Single-hwloc.environment} ${fork-counts.environment} {
    FORK_COUNT_FILE: "${FORK_COUNTS_DIRECTORY}/compiler/specjvm2008_forks_batch3.json"
  }
}

bench-specjvm2008-Single-hwloc-forks-batch4 : ${bench-specjvm2008-Single-hwloc} ${weeklys-bench-notifications} {
  targets: [bench, weekly],
  setup: ${fork-counts.setup} ${bench-specjvm2008-Single-hwloc.setup}
  timelimit: "06:00:00"
  environment : ${bench-specjvm2008-Single-hwloc.environment} ${fork-counts.environment} {
    FORK_COUNT_FILE: "${FORK_COUNTS_DIRECTORY}/compiler/specjvm2008_forks_batch4.json"
  }
}

bench-renaissance-hwloc-forks-batch0 : ${bench-renaissance-hwloc} ${weeklys-bench-notifications} {
  targets: [bench, weekly],
  setup: ${fork-counts.setup} ${bench-renaissance-hwloc.setup}
  timelimit: "06:30:00"
  environment : ${bench-renaissance-hwloc.environment} ${fork-counts.environment} {
    FORK_COUNT_FILE: "${FORK_COUNTS_DIRECTORY}/compiler/renaissance_forks_batch0.json"
  }
}

bench-renaissance-hwloc-forks-batch1 : ${bench-renaissance-hwloc} ${weeklys-bench-notifications} {
  targets: [bench, weekly],
  setup: ${fork-counts.setup} ${bench-renaissance-hwloc.setup}
  timelimit: "06:30:00"
  environment : ${bench-renaissance-hwloc.environment} ${fork-counts.environment} {
    FORK_COUNT_FILE: "${FORK_COUNTS_DIRECTORY}/compiler/renaissance_forks_batch1.json"
  }
}

bench-renaissance-hwloc-forks-batch2 : ${bench-renaissance-hwloc} ${weeklys-bench-notifications} {
  targets: [bench, weekly],
  setup: ${fork-counts.setup} ${bench-renaissance-hwloc.setup}
  timelimit: "06:30:00"
  environment : ${bench-renaissance-hwloc.environment} ${fork-counts.environment} {
    FORK_COUNT_FILE: "${FORK_COUNTS_DIRECTORY}/compiler/renaissance_forks_batch2.json"
  }
}

bench-renaissance-hwloc-forks-batch3 : ${bench-renaissance-hwloc} ${weeklys-bench-notifications} {
  targets: [bench, weekly],
  setup: ${fork-counts.setup} ${bench-renaissance-hwloc.setup}
  timelimit: "06:30:00"
  environment : ${bench-renaissance-hwloc.environment} ${fork-counts.environment} {
    FORK_COUNT_FILE: "${FORK_COUNTS_DIRECTORY}/compiler/renaissance_forks_batch3.json"
  }
}

bench-renaissance-legacy-hwloc-forks-batch0 : ${bench-renaissance-legacy-hwloc} ${weeklys-bench-notifications} {
  targets: [bench, weekly],
  setup: ${fork-counts.setup} ${bench-renaissance-legacy-hwloc.setup}
  timelimit: "06:30:00"
  environment : ${bench-renaissance-legacy-hwloc.environment} ${fork-counts.environment} {
    FORK_COUNT_FILE: "${FORK_COUNTS_DIRECTORY}/compiler/renaissance_legacy_forks_batch0.json"
  }
}
bench-renaissance-legacy-hwloc-forks-batch1 : ${bench-renaissance-legacy-hwloc} ${weeklys-bench-notifications} {
  targets: [bench, weekly],
  setup: ${fork-counts.setup} ${bench-renaissance-legacy-hwloc.setup}
  timelimit: "06:30:00"
  environment : ${bench-renaissance-legacy-hwloc.environment} ${fork-counts.environment} {
    FORK_COUNT_FILE: "${FORK_COUNTS_DIRECTORY}/compiler/renaissance_legacy_forks_batch1.json"
  }
}
bench-renaissance-legacy-hwloc-forks-batch2 : ${bench-renaissance-legacy-hwloc} ${weeklys-bench-notifications} {
  targets: [bench, weekly],
  setup: ${fork-counts.setup} ${bench-renaissance-legacy-hwloc.setup}
  timelimit: "06:30:00"
  environment : ${bench-renaissance-legacy-hwloc.environment} ${fork-counts.environment} {
    FORK_COUNT_FILE: "${FORK_COUNTS_DIRECTORY}/compiler/renaissance_legacy_forks_batch2.json"
  }
}
bench-renaissance-legacy-hwloc-forks-batch3 : ${bench-renaissance-legacy-hwloc} ${weeklys-bench-notifications} {
  targets: [bench, weekly],
  setup: ${fork-counts.setup} ${bench-renaissance-legacy-hwloc.setup}
  timelimit: "06:30:00"
  environment : ${bench-renaissance-legacy-hwloc.environment} ${fork-counts.environment} {
    FORK_COUNT_FILE: "${FORK_COUNTS_DIRECTORY}/compiler/renaissance_legacy_forks_batch3.json"
  }
}

bench-specjbb2005-hwloc-forks : ${bench-specjbb2005-hwloc} ${weeklys-bench-notifications} {
  targets: [bench, weekly],
  setup: ${fork-counts.setup} ${bench-specjbb2005-hwloc.setup}
  timelimit: "20:00:00"
  environment : ${bench-specjbb2005-hwloc.environment} ${fork-counts.environment} {
    FORK_COUNT_FILE: "${FORK_COUNTS_DIRECTORY}/compiler/specjbb2005_forks.json"
  }
}

bench-specjbb2015-hwloc-forks : ${bench-specjbb2015-hwloc} ${weeklys-bench-notifications} {
  targets: [bench, weekly],
  setup: ${fork-counts.setup} ${bench-specjbb2015-hwloc.setup}
  timelimit: "20:00:00"
  environment : ${bench-specjbb2015-hwloc.environment} ${fork-counts.environment} {
    FORK_COUNT_FILE: "${FORK_COUNTS_DIRECTORY}/compiler/specjbb2015_forks.json"
  }
}

builds += [
]
