
compilerCommon : ${common} {
  setup : [
    [cd, ${compiler-suite-root}]
  ] ${download-hsdis.setup}
}

ProfilingCommon : {
  environment : {
    MX_PROFILER : "JFR,async"
  }
  logs: [
    "*.jfr",
    "**/*.jfr",
    "*.svg",
    "**/*.svg",
  ]
  teardown : []
  targets: [bench, weekly]
}
