builds += [
  ${deploy-binaries} ${compilerCommon} ${linux-amd64} ${linux-deploy} ${labsjdk8} {name: "postmerge-deploy-binaries-linux-amd64"}
  ${deploy-binaries} ${compilerCommon} ${darwin-amd64} ${darwin-deploy} ${labsjdk8} {name: "postmerge-deploy-binaries-darwin-amd64"}
  ${deploy-binaries} ${compilerCommon} ${solaris-sparcv9} ${solaris-deploy} ${labsjdk8} {name: "postmerge-deploy-binaries-solaris-sparcv9"}
]
