gateCmdSuffix : ["--kill-with-sigquit", "gate", "--strict-mode", "--extra-vm-argument=-Dgraal.DumpOnError=true -Dgraal.PrintGraphFile=true -Dgraal.PrintBackendCFG=true", "--extra-vm-argument=${EXTRA_VM_ARGS}", "--extra-unittest-argument=${EXTRA_UNITTEST_ARGS}", "--tags"]
gateCmd : ["mx", "--strict-compliance"] ${gateCmdSuffix}

graalWeekly: ${graal-weekly-notifications} {
  targets: ["weekly"]
  timelimit: "1:30:00"
}
graalDaily: ${graal-weekly-notifications} {
  targets: ["daily"]
  timelimit: "1:30:00"
}
gateTest : {
  environment : {
    EXTRA_VM_ARGS : ""
  }
  run : [
    ${gateCmd} ["build,test"]
  ]
}

gateCoverage : {
  environment : {
    EXTRA_VM_ARGS : ""
  }
  run : [
    ${gateCmd} ["build,coverage", --jacoco-omit-excluded, --jacocout, html]
    [mx, coverage-upload]
    # GR-18258 [mx, sonarqube-upload, "-Dsonar.host.url=$SONAR_HOST_URL", "-Dsonar.projectKey=com.oracle.graal.compiler."${jvm-config.default}, "-Dsonar.projectName=GraalVM - Compiler ("${jvm-config.default}")", --exclude-generated, --skip-coverage]
  ]
}

gateJavaBaseTest : {
  environment : {
    EXTRA_VM_ARGS : ""
  }
  run : [
    ${gateCmd} ["build,javabasetest"]
  ]
}

gateTestMaxVS : ${gateTest} {
  environment : {
    EXTRA_VM_ARGS : "-Dgraal.DetailedAsserts=true -XX:MaxVectorSize=16"
  }
}

gateTestAVX0 : ${gateTest} {
  environment : {
    JVM_CONFIG    : ${jvm-config.default}"-avx0"
  }
}

gateTestAVX1 : ${gateTest} {
  environment : {
    JVM_CONFIG    : ${jvm-config.default}"-avx1"
  }
}

gateTestCompileImmediately : ${gateTest} {
  environment : {
    EXTRA_VM_ARGS : "-Dpolyglot.engine.AllowExperimentalOptions=true -Dpolyglot.engine.CompileImmediately=true -Dpolyglot.engine.BackgroundCompilation=false -Dtck.inlineVerifierInstrument=false"
    EXTRA_UNITTEST_ARGS : "truffle"
  }
}

gateTestCTW : {
  environment : {
    EXTRA_VM_ARGS : ""
  }
  run : [
    # At least one gate build should run without strict
    # compliance as that's how Travis runs on JDK9
    ["mx"] ${gateCmdSuffix} ["build,ctw"]
  ]
}

gateTestCTWWeekly : {
  environment : {
    # GR-23372
    EXTRA_VM_ARGS : "-DCompileTheWorld.MaxClasses=5000"
  }
  run : [
    # At least one gate build should run without strict
    # compliance as that's how Travis runs on JDK9
    ["mx"] ${gateCmdSuffix} ["build,ctw", "--jacoco-omit-excluded", "--jacocout", "html"]
    ["mx", "coverage-upload"]
  ]
  timelimit : "1:30:00"
}

gateTestBenchmark : {
  environment : {
    EXTRA_VM_ARGS : ""
    JVM_CONFIG    : ${jvm-config.default}
    JVM           : "server"
  }
  run : [
    ${gateCmd} ["build,benchmarktest"]
    # blackbox jmh test
    ["mx", "benchmark", "jmh-dist:GRAAL_COMPILER_MICRO_BENCHMARKS", "--", "-Djmh.ignoreLock=true", "--jvm-config=${JVM_CONFIG}", "--jvm=${JVM}", "--", ".*TestJMH.*" ]
    # whitebox jmh test
    ["mx", "benchmark", "jmh-whitebox:*", "--", "-Djmh.ignoreLock=true", "--jvm-config=${JVM_CONFIG}", "--jvm=${JVM}", "--", ".*TestJMH.*" ]
  ]
}

gateBootstrap : {
  environment : {
    EXTRA_VM_ARGS : ""
  }
  run : [
    ${gateCmd} ["build,bootstrap"]
  ]
}

gateBootstrapLite : {
  environment : {
    EXTRA_VM_ARGS : ""
  }
  run : [
    ${gateCmd} ["build,bootstraplite"]
  ]
}

gateBootstrapFullVerify : {
  environment : {
    EXTRA_VM_ARGS : ""
  }
  run : [
    ${gateCmd} ["build,bootstrapfullverify"]
  ]
}

gateStyle : ${eclipse} ${jdt} {
  environment : {
    EXTRA_VM_ARGS : ""
  }
  run : [
    ${gateCmd} ["style,fullbuild,javadoc"]
  ]
}

gateCommon : ${compilerCommon} {
  targets : [gate]
  logs: ${logPatterns}
}

gateLinuxAMD64 : ${linux-amd64} ${gateCommon}

gateDarwinAMD64 : ${darwin-amd64} ${gateCommon}

gateWindowsAMD64 : ${windows-amd64} ${gateCommon}

gateLinuxAArch64 : ${linux-aarch64} ${gateCommon}

# This task listens to the hotspot math stubs changes. In case of failure, please check if the hotspot changes affect the
# emitted stub code in C2, and update corresponding recasts in the org.graalvm.compiler.lir.amd64 package accordingly.
gateMathStubsListener: ${linux-amd64} {
  run: [
    [wget, https://raw.githubusercontent.com/openjdk/jdk/master/src/hotspot/cpu/x86/macroAssembler_x86_cos.cpp]
    [wget, https://raw.githubusercontent.com/openjdk/jdk/master/src/hotspot/cpu/x86/macroAssembler_x86_exp.cpp]
    [wget, https://raw.githubusercontent.com/openjdk/jdk/master/src/hotspot/cpu/x86/macroAssembler_x86_log10.cpp]
    [wget, https://raw.githubusercontent.com/openjdk/jdk/master/src/hotspot/cpu/x86/macroAssembler_x86_log.cpp]
    [wget, https://raw.githubusercontent.com/openjdk/jdk/master/src/hotspot/cpu/x86/macroAssembler_x86_pow.cpp]
    [wget, https://raw.githubusercontent.com/openjdk/jdk/master/src/hotspot/cpu/x86/macroAssembler_x86_sin.cpp]
    [wget, https://raw.githubusercontent.com/openjdk/jdk/master/src/hotspot/cpu/x86/macroAssembler_x86_tan.cpp]
    [echo, -e, "f801a757f3d5473368dce85993618e04  macroAssembler_x86_cos.cpp", |, md5sum, -c]
    [echo, -e, "1e3fde26e031a061bbe3700eb77b2961  macroAssembler_x86_exp.cpp", |, md5sum, -c]
    [echo, -e, "5ede616384ebf2d7eb26cb889aca6cf0  macroAssembler_x86_log10.cpp", |, md5sum, -c]
    [echo, -e, "e986e7e26aac8dc080f373594c2502dc  macroAssembler_x86_log.cpp", |, md5sum, -c]
    [echo, -e, "426d5dba57086bf40a67a1c1631b8288  macroAssembler_x86_pow.cpp", |, md5sum, -c]
    [echo, -e, "612e6870fff00bd5e44452123170b16d  macroAssembler_x86_sin.cpp", |, md5sum, -c]
    [echo, -e, "41e14dedcaddfbcc7a3042f7b926d474  macroAssembler_x86_tan.cpp", |, md5sum, -c]
  ]
  targets: [daily]
  notify_emails: [
    "yudi.zheng@oracle.com"
  ]
}

gateLinuxAMD64AVX3 : ${gateLinuxAMD64} {
  capabilities : ["linux", "amd64", "x82"]
  environment : {
    JVM_CONFIG    : ${jvm-config.default}"-avx3"
  }
}

gateLinuxAMD64Bootstrap : ${gateLinuxAMD64} { capabilities : ${gateLinuxAMD64.capabilities} [manycores] }
gateDarwinAMD64Bootstrap : ${gateDarwinAMD64}
