
builds += [
  # Darwin AMD64
  ${gateBootstrapLite}       ${oraclejdk8}     ${gateDarwinAMD64Bootstrap}  {name: "gate-compiler-bootstraplite-8-darwin-amd64"}
  ${gateBootstrapLite}       ${labsjdk-ee-11}  ${gateDarwinAMD64Bootstrap}  {name: "weekly-test-compiler-bootstraplite-labsjdk-ee-11-darwin-amd64"} ${graalWeekly}

  # Linux AMD64
  ${gateBootstrap}           ${oraclejdk8}     ${gateLinuxAMD64Bootstrap}   {name: "gate-compiler-bootstrap-8-linux-amd64"}
  ${gateBootstrapFullVerify} ${oraclejdk8}     ${gateLinuxAMD64Bootstrap}   {name: "gate-compiler-bootstrapfullverify-8-linux-amd64"}
  ${gateBootstrap}           ${labsjdk-ee-11}  ${gateLinuxAMD64Bootstrap}   {name: "gate-compiler-bootstrap-labsjdk-ee-11-linux-amd64"}

  # Solaris SPARC
  ${gateBootstrap}           ${oraclejdk8Only} ${gateSolarisSPARCBootstrap} {name: "gate-compiler-bootstrap-8-solaris-sparcv9",   timelimit: "1:00:00"}
]
