# Build targets

builds += [
  # Darwin AMD64
  ${gateTest}           ${oraclejdk8}  ${gateDarwinAMD64}  {name: "gate-test-compiler-test-8-darwin-amd64"}
  ${gateTest}           ${openjdk8}    ${gateDarwinAMD64}  {name: "weekly-test-compiler-test-openjdk8-darwin-amd64"} ${graalWeekly}
  ${gateTest}           ${oraclejdk11} ${gateDarwinAMD64}  {name: "weekly-test-compiler-test-11-darwin-amd64"} ${graalWeekly}
# ${gateTestBenchmark}  ${oraclejdk8}  ${gateDarwinAMD64}  {name: "weekly-test-compiler-benchmarktest-8-darwin-amd64"} ${graalWeekly}

  # Windows AMD64
  ${gateTest}          ${oraclejdk8}   ${gateWindowsAMD64}   {name: "gate-compiler-test-8-windows-amd64", timelimit: "50:00", packages: {msvc: "==10.0" }}

  # Linux AMD64
  ${gateTest}          ${oraclejdk8}      ${gateLinuxAMD64}   {name: "gate-compiler-test-8-linux-amd64"}
  ${gateTest}          ${openjdk8}        ${gateLinuxAMD64}   {name: "weekly-test-compiler-test-openjdk8-linux-amd64"} ${graalWeekly}
  ${gateTestMaxVS}     ${oraclejdk8}      ${gateLinuxAMD64}   {name: "weekly-test-compiler-test-8-linux-amd64-maxvectorsize"} ${graalWeekly}
  ${gateTestAVX0}      ${oraclejdk8}      ${gateLinuxAMD64}   {name: "weekly-test-compiler-test-8-linux-amd64-avx0"} ${graalWeekly}
  ${gateTestAVX1}      ${oraclejdk8}      ${gateLinuxAMD64}   {name: "weekly-test-compiler-test-8-linux-amd64-avx1"} ${graalWeekly}
  ${gateTest}          ${oraclejdk11}     ${gateLinuxAMD64}   {name: "gate-compiler-test-11-linux-amd64"}
  ${gateJavaBaseTest}  ${oraclejdk11}     ${gateLinuxAMD64}   {name: "weekly-test-compiler-javabasetest-11-linux-amd64"} ${graalWeekly}
  ${gateTestCTW}       ${oraclejdk8}      ${gateLinuxAMD64}   {name: "gate-compiler-ctw-8-linux-amd64"}
  ${gateTestCTWWeekly} ${openjdk8}        ${gateLinuxAMD64}   {name: "weekly-test-compiler-ctw-openjdk8-linux-amd64", timelimit: "1:30:00"} ${graalWeekly}
  ${gateTestCTWWeekly} ${oraclejdk11}     ${gateLinuxAMD64}   {name: "weekly-test-compiler-ctw-11-linux-amd64"} ${graalWeekly}
  ${gateTest}          ${oraclejdk8Debug} ${gateLinuxAMD64}   {name: "weekly-test-compiler-test-8-linux-amd64-fastdebug", timelimit: "1:50:00"} ${graalWeekly}
  ${gateTestBenchmark} ${oraclejdk8}      ${gateLinuxAMD64}   {name: "gate-compiler-benchmarktest-8-linux-amd64"}
  ${gateTestBenchmark} ${oraclejdk8Debug} ${gateLinuxAMD64}   {name: "weekly-test-compiler-benchmarktest-8-linux-amd64-fastdebug"} ${graalWeekly}
  ${gateStyle}         ${oraclejdk8}      ${gateLinuxAMD64}   {name: "gate-compiler-style-linux-amd64"}
  ${gateCoverage}      ${oraclejdk8}      ${gateLinuxAMD64}   {name: "weekly-compiler-coverage-8-linux-amd64", timelimit: "1:50:00"} ${graalWeekly}

  ${gateTestCompileImmediately}     ${oraclejdk8}     ${gateLinuxAMD64}   {name: "gate-compiler-test-compile-immediately-8-linux-amd64"}
  ${gateMathStubsListener}                                                {name: "daily-hotspot-mathstubs-listener"}

  # Solaris SPARC
  ${gateTest}          ${oraclejdk8}      ${gateSolarisSPARC} {name: "gate-compiler-test-8-solaris-sparcv9",                    timelimit: "1:00:00"}
  ${gateTest}          ${oraclejdk11}     ${gateSolarisSPARC} {name: "gate-compiler-test-11-solaris-sparcv9",                   timelimit: "1:00:00"}
  ${gateTestCTW}       ${oraclejdk8}      ${gateSolarisSPARC} {name: "gate-compiler-ctw-8-solaris-sparcv9",                     timelimit: "1:00:00"}
  ${gateTestCTWWeekly} ${oraclejdk11}     ${gateSolarisSPARC} {name: "weekly-test-compiler-ctw-11-solaris-sparcv9",             timelimit: "1:50:00"} ${graalWeekly}
  ${gateTest}          ${oraclejdk8Debug} ${gateSolarisSPARC} {name: "weekly-test-compiler-test-8-solaris-sparcv9-fastdebug",   timelimit: "1:50:00"} ${graalWeekly}
  ${gateTestBenchmark} ${oraclejdk8}      ${gateSolarisSPARC} {name: "gate-compiler-benchmarktest-8-solaris-sparcv9",           timelimit: "1:00:00"}
# ${gateTestBenchmark} ${oraclejdk8Debug} ${gateSolarisSPARC} {name: "gate-compiler-benchmarktest-8-solaris-sparcv9-fastdebug", timelimit: "1:50:00"}

  # Linux SPARC
  #${gateTest}          ${oraclejdk8}     ${gateLinuxSPARC}   {name: "weekly-test-compiler-test-8-linux-sparcv9",               timelimit: "1:00:00"} ${graalWeekly}

  # Linux AArch64
  ${gateTest}                            ${gateLinuxAArch64} {name: "weekly-compiler-test-11-linux-aarch64",                   timelimit: "1:50:00"} ${graalWeekly}
  ${gateTestCTWWeekly}                   ${gateLinuxAArch64} {name: "weekly-test-compiler-ctw-11-linux-aarch64",               timelimit: "1:50:00"} ${graalWeekly}
]
