# Eigth of a M7 processor with 4 cores, 8 threads each

m7_eighth.default : ${solaris-sparcv9} {
  capabilities: ${solaris-sparcv9.capabilities} [m7_eighth]
  environment : {
    JVM_CONFIG  : ${jvm-config.default}
    JVM         : "server"
    MACHINE_NAME: "m7_eighth"
  }
}

m7_eighth.default-g1gc : ${m7_eighth.default} {
  environment : {
    JVM_CONFIG  : ${jvm-config.default}"-g1gc"
  }
}

builds += [
  ${m7_eighth.default} ${bench-dacapo}              ${oraclejdk8Only} { name: "bench-compiler-dacapo-solaris-m7_eighth", timelimit: "1:00:00" }
  ${m7_eighth.default} ${bench-dacapo-timing}       ${oraclejdk8Only} { name: "bench-compiler-dacapo-timing-solaris-m7_eighth", timelimit: "1:00:00" }
  ${m7_eighth.default} ${bench-scala-dacapo}        ${oraclejdk8Only} { name: "bench-compiler-scala-dacapo-solaris-m7_eighth", timelimit: "1:00:00" }
  ${m7_eighth.default} ${bench-scala-dacapo-timing} ${oraclejdk8Only} { name: "bench-compiler-scala-dacapo-timing-solaris-m7_eighth", timelimit: "1:00:00" }
  ${m7_eighth.default} ${bench-specjvm2008-Single}  ${oraclejdk8Only} { name: "bench-compiler-specjvm2008-Single-solaris-m7_eighth", timelimit: "3:10:00" }
  ${m7_eighth.default} ${bench-specjvm2008-OneVM}   ${oraclejdk8Only} { name: "bench-compiler-specjvm2008-OneVM-solaris-m7_eighth", timelimit: "3:10:00" }
  # GR-11609
  # ${m7_eighth.default} ${bench-specjbb2015}         ${oraclejdk8Only} { name: "bench-compiler-specjbb2015-solaris-m7_eighth" }
  ${m7_eighth.default} ${bench-micros-graal-whitebox} ${oraclejdk8Only} { name: "bench-compiler-jmh-micros-graal-whitebox-solaris-m7_eighth" }
  ${m7_eighth.default} ${bench-micros-graal-dist}   ${oraclejdk8Only} { name: "bench-compiler-jmh-micros-graal-dist-solaris-m7_eighth" }

  ${m7_eighth.default-g1gc} ${bench-dacapo}              ${oraclejdk8Only} { targets : [weekly, bench], name: "bench-compiler-dacapo-g1gc-solaris-m7_eighth", timelimit: "1:00:00" }
  ${m7_eighth.default-g1gc} ${bench-scala-dacapo}        ${oraclejdk8Only} { targets : [weekly, bench], name: "bench-compiler-scala-dacapo-g1gc-solaris-m7_eighth", timelimit: "1:00:00" }
  ${m7_eighth.default-g1gc} ${bench-specjvm2008-Single}  ${oraclejdk8Only} { targets : [weekly, bench], name: "bench-compiler-specjvm2008-g1gc-Single-solaris-m7_eighth" }
  # GR-11609
  # ${m7_eighth.default-g1gc} ${bench-specjbb2015}         ${oraclejdk8Only} { targets : [weekly, bench], name: "bench-compiler-specjbb2015-g1gc-solaris-m7_eighth" }
]
