x32.default : ${commonLinux} {
  capabilities: [linux, x32, no_frequency_scaling, tmpfs25g]
  environment : {
    XMX         : "8g"
    XMS         : "8g"
    JVM_CONFIG  : ${jvm-config.default}
    JVM         : "server"
    MACHINE_NAME: "x32"
  }
}

x32.default-g1gc : ${x32.default} {
  environment : {
    JVM_CONFIG  : ${jvm-config.default}"-g1gc"
  }
}

builds += [
  ${x32.default} ${bench-renaissance-hwloc}         { name: "bench-renaissance-linux-x32" }

  ${x32.default-g1gc} ${bench-renaissance-hwloc}         { targets : [weekly, bench], name: "bench-renaissance-g1gc-linux-x32" }  
]
