x32.default : ${linux-amd64} {
  capabilities: ${linux-amd64.capabilities} [x32, no_frequency_scaling, tmpfs25g]
  environment : {
    XMX         : "8g"
    XMS         : "8g"
    JVM_CONFIG  : ${jvm-config.default}
    JVM         : "server"
    MACHINE_NAME: "x32"
  }
}

x32.default-g1gc : ${x32.default} {
  environment : {
    JVM_CONFIG  : ${jvm-config.default}"-g1gc"
  }
}

builds += [
  ${x32.default} ${bench-renaissance-hwloc}       ${openjdk8} { name: "bench-compiler-renaissance-linux-x32" }

  ${x32.default-g1gc} ${bench-renaissance-hwloc}  ${openjdk8} { targets : [weekly, bench], name: "bench-compiler-renaissance-g1gc-linux-x32" }  
]
