x4150.default : ${linux-amd64} {
  capabilities: ${linux-amd64.capabilities} [x4150, no_frequency_scaling]
  environment : {
    XMX         : "32g"
    XMS         : "32g"
    JVM_CONFIG  : ${jvm-config.default}
    JVM         : "server"
    MACHINE_NAME: "x4150"
  }
}

x4150.default-g1gc : ${x4150.default} {
  environment : {
    JVM_CONFIG  : ${jvm-config.default}"-g1gc"
  }
}

builds += [
  ${x4150.default} ${bench-specjbb2005} ${labsjdk8} { name: "bench-compiler-specjbb2005-linux-x4150"}

  ${x4150.default-g1gc} ${bench-specjbb2005} ${labsjdk8} { targets : [weekly, bench], name: "bench-compiler-specjbb2005-g1gc-linux-x4150"}  
]
