x52.tracera: ${x52.default} {
  environment : {
    JVM_CONFIG  : ${jvm-config.default}"-tracera"
  }
}

x52.tracera-tmpfs10g : ${x52.tracera} {
  capabilities: ${x52.tracera.capabilities} [tmpfs10g]
}

x52.tracera-bu-tmpfs10g: ${x52.default} {
  environment : {
    JVM_CONFIG  : ${jvm-config.default}"-tracera-bu"
  }
  capabilities: ${x52.tracera.capabilities} [tmpfs10g]
}

builds += [
  ${x52.tracera-tmpfs10g} ${bench-dacapo-hwloc}                         ${labsjdk8} { targets : [bench, daily],  name: "bench-compiler-dacapo-linux-x52-tracera" }
  ${x52.tracera-tmpfs10g} ${bench-dacapo-timing-hwloc}                  ${labsjdk8} { targets : [bench, weekly], name: "bench-compiler-dacapo-timing-linux-x52-tracera" }
  ${x52.tracera-tmpfs10g} ${bench-dacapo-move-profiling-hwloc}          ${labsjdk8} { targets : [bench, weekly], name: "bench-compiler-dacapo-move-profiling-linux-x52-tracera" }
  ${x52.tracera-tmpfs10g} ${bench-scala-dacapo-hwloc}                   ${labsjdk8} { targets : [bench, daily],  name: "bench-compiler-scala-dacapo-linux-x52-tracera" }
  ${x52.tracera-tmpfs10g} ${bench-scala-dacapo-timing-hwloc}            ${labsjdk8} { targets : [bench, weekly], name: "bench-compiler-scala-dacapo-timing-linux-x52-tracera" }
  ${x52.tracera-tmpfs10g} ${bench-scala-dacapo-move-profiling-hwloc}    ${labsjdk8} { targets : [bench, weekly], name: "bench-compiler-scala-dacapo-move-profiling-linux-x52-tracera" }
  ${x52.tracera} ${bench-specjvm2008-Single}                            ${labsjdk8} { targets : [bench, daily],  name: "bench-compiler-specjvm2008-Single-linux-x52-tracera" }
  ${x52.tracera} ${bench-specjvm2008-OneVM}                             ${labsjdk8} { targets : [bench, weekly], name: "bench-compiler-specjvm2008-OneVM-linux-x52-tracera" }
  ${x52.tracera} ${bench-specjbb2015}                                   ${labsjdk8} { targets : [bench, daily],  name: "bench-compiler-specjbb2015-linux-x52-tracera" }
  ${x52.tracera} ${bench-micros-graal-whitebox}                         ${labsjdk8} { targets : [bench, weekly], name: "bench-compiler-jmh-micros-graal-whitebox-linux-x52-tracera" }
  ${x52.tracera} ${bench-micros-graal-dist}                             ${labsjdk8} { targets : [bench, weekly], name: "bench-compiler-jmh-micros-graal-dist-linux-x52-tracera" }
  ${x52.tracera} ${bench-renaissance-hwloc}                             ${labsjdk8} { targets : [bench, daily],  name: "bench-compiler-renaissance-linux-x52-tracera" }

  ${x52.tracera-bu-tmpfs10g} ${bench-dacapo-hwloc}                      ${labsjdk8} { targets : [weekly, bench], name: "bench-compiler-dacapo-linux-x52-tracera-bu" }
  ${x52.tracera-bu-tmpfs10g} ${bench-dacapo-timing-hwloc}               ${labsjdk8} { targets : [weekly, bench], name: "bench-compiler-dacapo-timing-linux-x52-tracera-bu" }
  ${x52.tracera-bu-tmpfs10g} ${bench-dacapo-move-profiling-hwloc}       ${labsjdk8} { targets : [weekly, bench], name: "bench-compiler-dacapo-move-profiling-linux-x52-tracera-bu" }
  ${x52.tracera-bu-tmpfs10g} ${bench-scala-dacapo-hwloc}                ${labsjdk8} { targets : [weekly, bench], name: "bench-compiler-scala-dacapo-linux-x52-tracera-bu" }
  ${x52.tracera-bu-tmpfs10g} ${bench-scala-dacapo-timing-hwloc}         ${labsjdk8} { targets : [weekly, bench], name: "bench-compiler-scala-dacapo-timing-linux-x52-tracera-bu" }
  ${x52.tracera-bu-tmpfs10g} ${bench-scala-dacapo-move-profiling-hwloc} ${labsjdk8} { targets : [weekly, bench], name: "bench-compiler-scala-dacapo-move-profiling-linux-x52-tracera-bu" }
]
