bench-dacapo-jfr: ${bench-common} ${default-heap} ${jfr-bench-notifications} {
  environment : {
    BENCH_SUITE : "dacapo"
  }
  run: [
    ${bench-jvmci.mx-dacapo} ${bench-arguments} ${JFR.jvm-opts}
  ]
  setup: ${bench-common.setup} ${JFR.setup}
  teardown: ${JFR.teardown}
}

bench-scala-dacapo-jfr: ${bench-common} ${default-heap} ${jfr-bench-notifications} {
  environment : {
    BENCH_SUITE : "scala-dacapo"
  }
  run: [
    ${bench-jvmci.mx-scala-dacapo} ${bench-arguments} ${JFR.jvm-opts}
  ]
  setup: ${bench-common.setup} ${JFR.setup}
  teardown: ${JFR.teardown}
}

bench-specjvm2008-Single-jfr: ${bench-common} ${large-heap} ${jfr-bench-notifications} {
  environment : {
    BENCH_SUITE : "specjvm2008"
  }
  run: [
    ${bench-jvmci.mx-specjvm2008-Single} ${bench-arguments} ${JFR.jvm-opts} [
      "--", "-ikv", "-it", "240s", "-wt", "120s"
    ]
  ]
  setup: ${bench-specjvm2008.setup} ${JFR.setup}
  teardown: [
    [rm, "-r", "${SPECJVM2008}/results"]
  ] ${JFR.teardown}
  downloads: {
    SPECJVM2008: { name: specjvm2008, version: "1.01" }
  }
  timelimit: "3:30:00"
}

bench-specjbb2015-jfr: ${bench-common} ${specjbb-large-heap} ${jfr-bench-notifications} {
  environment : {
    BENCH_SUITE : "specjbb2015"
  }
  run: [
    ${bench-jvmci.mx-specjbb2015} ${bench-arguments} ${JFR.jvm-opts}
  ]
  setup: ${bench-common.setup} ${JFR.setup}
  teardown: ${JFR.teardown}
  downloads: {
    SPECJBB2015: { name: specjbb2015, version: "1.02" }
  }
  timelimit: "3:00:00"
}

bench-renaissance-jfr: ${bench-common} ${default-heap} ${jfr-bench-notifications} {
  environment : {
    BENCH_SUITE : "renaissance"
  }
  run: [
    ${bench-jvmci.mx-renaissance} ${bench-arguments} ${JFR.jvm-opts}
  ]
  setup: ${bench-common.setup} ${JFR.setup}
  teardown: ${JFR.teardown}
  timelimit: "2:30:00"
}


bench-renaissance-legacy-jfr: ${bench-common} ${default-heap} ${jfr-bench-notifications} {
  environment : {
    BENCH_SUITE : "renaissance-legacy"
  }
  run: [
    ${bench-jvmci.mx-renaissance-legacy} ${bench-arguments} ${JFR.jvm-opts}
  ]
  setup: ${bench-common.setup} ${JFR.setup}
  teardown: ${JFR.teardown}
  downloads: {
    RENAISSANCE_LEGACY: { name: renaissance, version: "0.1" }
  }
  timelimit: "3:45:00"
}

bench-spark-sql-perf-jfr: ${bench-common} ${default-heap} ${jfr-bench-notifications} {
  environment : {
    BENCH_SUITE : "spark-sql-perf"
  }
  run: [
    ${bench-jvmci.mx-spark-sql-perf} ${bench-arguments} ${JFR.jvm-opts}
  ]
  setup: ${bench-common.setup} ${JFR.setup}
  teardown: ${JFR.teardown}
  downloads: {
    SPARK_SQL_PERF: { name: spark-sql-perf, version: "0.1" }
  }
  timelimit: "0:30:00"
}

x52.default-jfr : ${linux-amd64} {
  capabilities: ${linux-amd64.capabilities} [x52, no_frequency_scaling]
  environment : {
    JVM_CONFIG  : ${jvm-config.default}
    JVM         : "server"
    MACHINE_NAME: "x52"
    BENCH_SERVER_EXTRAS : "target:weekly-jfr"
  }
  targets: [bench, weekly]
}

x52.tmpfs10g-jfr : ${x52.default-jfr} {
  capabilities: ${x52.default-jfr.capabilities} [tmpfs10g]
}

builds += [
  ${x52.tmpfs10g-jfr} ${bench-dacapo-jfr}                        ${oraclejdk8} { name: "bench-compiler-dacapo-linux-x52-jfr" }
  ${x52.tmpfs10g-jfr} ${bench-scala-dacapo-jfr}                  ${oraclejdk8} { name: "bench-compiler-scala-dacapo-linux-x52-jfr" }
  ${x52.default-jfr} ${bench-specjvm2008-Single-jfr}             ${oraclejdk8} { name: "bench-compiler-specjvm2008-Single-linux-x52-jfr" }
  ${x52.default-jfr} ${bench-specjbb2015-jfr}                    ${oraclejdk8} { name: "bench-compiler-specjbb2015-linux-x52-jfr" }
  ${x52.default-jfr} ${bench-renaissance-jfr}                    ${oraclejdk8} { name: "bench-compiler-renaissance-linux-x52-jfr", timelimit: "3:45:00" }
  ${x52.default-jfr} ${bench-renaissance-legacy-jfr}             ${oraclejdk8} { name: "bench-compiler-renaissance-legacy-linux-x52-jfr" }
  ${x52.default-jfr} ${bench-spark-sql-perf-jfr}                 ${oraclejdk8} { name: "bench-compiler-spark-sql-perf-linux-x52-jfr" }
]
