bench-profiling-awfy:               ${default-heap} ${bench-awfy-hwloc}               ${ProfilingCommon} ${jfr-bench-notifications}
bench-profiling-dacapo:             ${default-heap} ${bench-dacapo-hwloc}             ${ProfilingCommon} ${jfr-bench-notifications}
bench-profiling-scala-dacapo:       ${default-heap} ${bench-scala-dacapo-hwloc}       ${ProfilingCommon} ${jfr-bench-notifications}
bench-profiling-specjvm2008-Single: ${default-heap} ${bench-specjvm2008-Single-hwloc} ${ProfilingCommon} ${jfr-bench-notifications}
bench-profiling-specjbb2015:        ${default-heap} ${bench-specjbb2005-hwloc}        ${ProfilingCommon} ${jfr-bench-notifications}
bench-profiling-renaissance:        ${default-heap} ${bench-renaissance-hwloc}        ${ProfilingCommon} ${jfr-bench-notifications}
bench-profiling-renaissance-legacy: ${default-heap} ${bench-renaissance-legacy-hwloc} ${ProfilingCommon} ${jfr-bench-notifications}

builds += [
]
