x52.default : ${linux-amd64} {
  capabilities: ${linux-amd64.capabilities} [x52, no_frequency_scaling]
  environment : {
    XMX         : "64g"
    XMS         : "64g"
    JVM_CONFIG  : ${jvm-config.default}
    JVM         : "server"
    MACHINE_NAME: "x52"
  }
}

x52.tmpfs10g : ${x52.default} {
  capabilities: ${x52.default.capabilities} [tmpfs10g]
}

x52.default-g1gc : ${x52.default} {
  environment : {
    JVM_CONFIG  : ${jvm-config.default}"-g1gc"
  }
}

x52.tmpfs10g-g1gc: ${x52.tmpfs10g} {
  environment : {
    JVM_CONFIG  : ${jvm-config.default}"-g1gc"
  }
}

builds += [
  ${x52.tmpfs10g} ${bench-dacapo-hwloc}            ${labsjdk8} { name: "bench-compiler-dacapo-linux-x52" }
  ${x52.tmpfs10g} ${bench-dacapo-timing-hwloc}     ${labsjdk8} { name: "bench-compiler-dacapo-timing-linux-x52" }
  ${x52.tmpfs10g} ${bench-dacapo-move-profiling-hwloc} ${labsjdk8} { name: "bench-compiler-dacapo-move-profiling-linux-x52" }
  ${x52.tmpfs10g} ${bench-scala-dacapo-hwloc}      ${labsjdk8} { name: "bench-compiler-scala-dacapo-linux-x52" }
  ${x52.tmpfs10g} ${bench-scala-dacapo-timing-hwloc} ${labsjdk8} { name: "bench-compiler-scala-dacapo-timing-linux-x52" }
  ${x52.tmpfs10g} ${bench-scala-dacapo-move-profiling-hwloc} ${labsjdk8} { name: "bench-compiler-scala-dacapo-move-profiling-linux-x52" }
  ${x52.default} ${bench-specjvm2008-Single}       ${labsjdk8} { name: "bench-compiler-specjvm2008-Single-linux-x52" }
  ${x52.default} ${bench-specjvm2008-OneVM}        ${labsjdk8} { name: "bench-compiler-specjvm2008-OneVM-linux-x52" }
  ${x52.default} ${bench-specjbb2015}              ${labsjdk8} { name: "bench-compiler-specjbb2015-linux-x52" }
  ${x52.default} ${bench-micros-graal-whitebox}    ${labsjdk8} { name: "bench-compiler-jmh-micros-graal-whitebox-linux-x52" }
  ${x52.default} ${bench-micros-graal-dist}        ${labsjdk8} { name: "bench-compiler-jmh-micros-graal-dist-linux-x52" }

  ${x52.tmpfs10g-g1gc} ${bench-dacapo-hwloc}       ${labsjdk8} { targets : [weekly, bench], name: "bench-compiler-dacapo-g1gc-linux-x52" }
  ${x52.tmpfs10g-g1gc} ${bench-scala-dacapo-hwloc} ${labsjdk8} { targets : [weekly, bench], name: "bench-compiler-scala-dacapo-g1gc-linux-x52" }
  ${x52.tmpfs10g-g1gc} ${bench-specjvm2008-Single} ${labsjdk8} { targets : [weekly, bench], name: "bench-compiler-specjvm2008-g1gc-Single-linux-x52" }
  ${x52.tmpfs10g-g1gc} ${bench-specjbb2015}        ${labsjdk8} { targets : [weekly, bench], name: "bench-compiler-specjbb2015-g1gc-linux-x52" }

  ${x52.default} ${bench-renaissance-hwloc}       ${labsjdk8} { name: "bench-compiler-renaissance-linux-x52" }
  ${x52.default-g1gc} ${bench-renaissance-hwloc}  ${labsjdk8} { targets: [weekly, bench], name: "bench-compiler-renaissance-g1gc-linux-x52" }
  ${x52.default} ${bench-spark-sql-perf}          ${labsjdk8} { name: "bench-compiler-spark-sql-perf-linux-x52" }

  ${x52.default} ${bench-specjbb2005} ${labsjdk8} { name: "bench-compiler-specjbb2005-linux-x52"}
  ${x52.default-g1gc} ${bench-specjbb2005} ${labsjdk8} { targets : [weekly, bench], name: "bench-compiler-specjbb2005-g1gc-linux-x52"}
]
