// HotSpot client compiler (C1)
x52.c1 : ${linux-amd64} {
  capabilities: ${linux-amd64.capabilities} [x52, no_frequency_scaling]
  environment : {
    JVM_CONFIG :  "default"
    JVM        :  "client"
    MACHINE_NAME: "x52"
  }
}

x52.c1-tmpfs10g : ${x52.c1} {
  capabilities: [linux, x52, no_frequency_scaling, tmpfs10g]
}

// HotSpot server compiler (C2)
x52.c2 : {
  capabilities: [linux, x52, no_frequency_scaling]
  environment : {
    JVM_CONFIG   : "default"
    JVM          : "server"
    MACHINE_NAME : "x52"
  }
}

x52.tmpfs10g-c2 : ${x52.c2} {
  capabilities: ${x52.c2.capabilities} [tmpfs10g]
}

x52.default : ${linux-amd64} {
  capabilities: ${linux-amd64.capabilities} [x52, no_frequency_scaling]
  environment : {
    JVM_CONFIG  : ${jvm-config.default}
    JVM         : "server"
    MACHINE_NAME: "x52"
  }
}

x52.default-libgraal : ${x52.default} {
  environment : {
    MX_PRIMARY_SUITE_PATH: "../"${vm_subdir}
    MX_ENV_PATH: ${libgraal_env}
    JVM_CONFIG  : ${jvm-config.default}"-libgraal"
  }
}

x52.tmpfs10g : ${x52.default} {
  capabilities: ${x52.default.capabilities} [tmpfs10g]
}

x52.tmpfs10g-libgraal : ${x52.default-libgraal} {
  capabilities: ${x52.default.capabilities} [tmpfs10g]
}

x52.default-g1gc : ${x52.default} {
  environment : {
    JVM_CONFIG  : ${jvm-config.default}"-g1gc"
  }
}

x52.default-libgraal-g1gc : ${x52.default-libgraal} {
  environment : {
    JVM_CONFIG  : ${jvm-config.default}"-libgraal-g1gc"
  }
}

x52.tmpfs10g-g1gc: ${x52.tmpfs10g} {
  environment : {
    JVM_CONFIG  : ${jvm-config.default}"-g1gc"
  }
}

x52.tmpfs10g-libgraal-g1gc: ${x52.tmpfs10g-libgraal} {
  environment : {
    JVM_CONFIG  : ${jvm-config.default}"-libgraal-g1gc"
  }
}

builds += [
  # LibGraal
  #  main benchmark suites
  ${x52.tmpfs10g-libgraal} ${bench-dacapo-hwloc}                  ${oraclejdk8} { name: "bench-compiler-dacapo-libgraal-linux-x52" }
  ${x52.tmpfs10g-libgraal} ${bench-dacapo-timing-hwloc}           ${oraclejdk8} { name: "bench-compiler-dacapo-timing-libgraal-linux-x52" }
  ${x52.tmpfs10g-libgraal} ${bench-scala-dacapo-hwloc}            ${oraclejdk8} { name: "bench-compiler-scala-dacapo-libgraal-linux-x52" }
  ${x52.tmpfs10g-libgraal} ${bench-scala-dacapo-timing-hwloc}     ${oraclejdk8} { name: "bench-compiler-scala-dacapo-timing-libgraal-linux-x52" }
  ${x52.default-libgraal} ${bench-renaissance-hwloc}              ${oraclejdk8} { name: "bench-compiler-renaissance-libgraal-linux-x52" }
  ${x52.default-libgraal} ${bench-specjvm2008-Single}             ${oraclejdk8} { targets: [daily, bench], name: "bench-compiler-specjvm2008-Single-libgraal-linux-x52" }
  ${x52.default-libgraal} ${bench-specjbb2005}                    ${oraclejdk8} { name: "bench-compiler-specjbb2005-libgraal-linux-x52" }
  ${x52.default-libgraal} ${bench-specjbb2015}                    ${oraclejdk8} { name: "bench-compiler-specjbb2015-libgraal-linux-x52" }
  ${x52.default-libgraal} ${bench-renaissance-0-10-0}             ${oraclejdk8} { name: "bench-compiler-renaissance-0-10-0-libgraal-linux-x52" }

  ${x52.tmpfs10g-libgraal} ${bench-dacapo-hwloc}                  ${labsjdk11} { targets: [daily, bench], name: "bench-compiler-dacapo-libgraal-11-linux-x52" }
  ${x52.tmpfs10g-libgraal} ${bench-dacapo-timing-hwloc}           ${labsjdk11} { targets: [weekly, bench], name: "bench-compiler-dacapo-timing-libgraal-11-linux-x52" }
  ${x52.tmpfs10g-libgraal} ${bench-scala-dacapo-all-hwloc}        ${labsjdk11} { targets: [daily, bench], name: "bench-compiler-scala-dacapo-libgraal-11-linux-x52" }
  ${x52.tmpfs10g-libgraal} ${bench-scala-dacapo-all-timing-hwloc} ${labsjdk11} { targets: [weekly, bench], name: "bench-compiler-scala-dacapo-timing-libgraal-11-linux-x52" }
  ${x52.default-libgraal} ${bench-renaissance-hwloc}              ${labsjdk11} { targets: [daily, bench], name: "bench-compiler-renaissance-libgraal-11-linux-x52" }
  ${x52.default-libgraal} ${bench-specjvm2008-Single}             ${labsjdk11} { targets: [daily, bench], name: "bench-compiler-specjvm2008-Single-libgraal-11-linux-x52" }
  ${x52.default-libgraal} ${bench-specjbb2005}                    ${labsjdk11} { targets: [daily, bench], name: "bench-compiler-specjbb2005-libgraal-11-linux-x52" }
  ${x52.default-libgraal} ${bench-specjbb2015}                    ${labsjdk11} { targets: [daily, bench], name: "bench-compiler-specjbb2015-libgraal-11-linux-x52" }
  ${x52.default-libgraal} ${bench-renaissance-0-10-0}             ${labsjdk11} { name: "bench-compiler-renaissance-0-10-0-libgraal-11-linux-x52" }

  #  secondary benchmark suites
  ${x52.default-libgraal} ${bench-renaissance-legacy-hwloc}       ${oraclejdk8} { name: "bench-compiler-renaissance-legacy-libgraal-linux-x52" }
  ${x52.default-libgraal} ${bench-specjvm2008-OneVM}              ${oraclejdk8} { targets: [daily, bench], name: "bench-compiler-specjvm2008-OneVM-libgraal-linux-x52" }
  ${x52.default-libgraal} ${bench-spark-sql-perf}                 ${oraclejdk8} { targets: [daily, bench], name: "bench-compiler-spark-sql-perf-libgraal-linux-x52" }
  ${x52.default-libgraal} ${bench-micros-graal-whitebox}          ${oraclejdk8} { targets: [daily, bench], name: "bench-compiler-jmh-micros-graal-whitebox-libgraal-linux-x52" }
  ${x52.default-libgraal} ${bench-micros-graal-dist}              ${oraclejdk8} { targets: [daily, bench], name: "bench-compiler-jmh-micros-graal-dist-libgraal-linux-x52" }

  ${x52.default-libgraal} ${bench-specjvm2008-OneVM}              ${labsjdk11} { targets: [weekly, bench], name: "bench-compiler-specjvm2008-OneVM-libgraal-11-linux-x52" }
  ${x52.default-libgraal} ${bench-micros-graal-whitebox}          ${labsjdk11} { targets: [daily, bench], name: "bench-compiler-jmh-micros-graal-whitebox-libgraal-11-linux-x52" }
  ${x52.default-libgraal} ${bench-micros-graal-dist}              ${labsjdk11} { targets: [daily, bench], name: "bench-compiler-jmh-micros-graal-dist-libgraal-11-linux-x52" }

  #  special configurations
  ${x52.tmpfs10g-libgraal-g1gc} ${bench-dacapo-hwloc}             ${oraclejdk8} { targets: [daily, bench], name: "bench-compiler-dacapo-libgraal-g1gc-linux-x52" }
  ${x52.tmpfs10g-libgraal-g1gc} ${bench-scala-dacapo-hwloc}       ${oraclejdk8} { targets: [daily, bench], name: "bench-compiler-scala-dacapo-libgraal-g1gc-linux-x52" }
  ${x52.default-libgraal-g1gc} ${bench-renaissance-hwloc}         ${oraclejdk8} { targets: [daily, bench], name: "bench-compiler-renaissance-libgraal-g1gc-linux-x52" }
  ${x52.tmpfs10g-libgraal-g1gc} ${bench-specjvm2008-Single}       ${oraclejdk8} { targets: [daily, bench], name: "bench-compiler-specjvm2008-libgraal-g1gc-Single-linux-x52" }
  ${x52.default-libgraal-g1gc} ${bench-specjbb2005}               ${oraclejdk8} { targets: [weekly, bench], name: "bench-compiler-specjbb2005-libgraal-g1gc-linux-x52" }
  ${x52.tmpfs10g-libgraal-g1gc} ${bench-specjbb2015}              ${oraclejdk8} { targets: [weekly, bench], name: "bench-compiler-specjbb2015-libgraal-g1gc-linux-x52" }
  ${x52.default-libgraal-g1gc} ${bench-renaissance-legacy-hwloc}  ${oraclejdk8} { targets: [weekly, bench], name: "bench-compiler-renaissance-legacy-libgraal-g1gc-linux-x52" }

  # JarGraal
  #  main benchmark suites
  ${x52.tmpfs10g} ${bench-dacapo-hwloc}                  ${oraclejdk8} { targets: [daily, bench], name: "bench-compiler-dacapo-linux-x52" }
  ${x52.tmpfs10g} ${bench-dacapo-timing-hwloc}           ${oraclejdk8} { targets: [daily, bench], name: "bench-compiler-dacapo-timing-linux-x52" }
  ${x52.tmpfs10g} ${bench-scala-dacapo-hwloc}            ${oraclejdk8} { targets: [daily, bench], name: "bench-compiler-scala-dacapo-linux-x52" }
  ${x52.tmpfs10g} ${bench-scala-dacapo-timing-hwloc}     ${oraclejdk8} { targets: [daily, bench], name: "bench-compiler-scala-dacapo-timing-linux-x52" }
  ${x52.default} ${bench-renaissance-hwloc}              ${oraclejdk8} { targets: [daily, bench], name: "bench-compiler-renaissance-linux-x52" }
  ${x52.default} ${bench-specjvm2008-Single}             ${oraclejdk8} { targets: [daily, bench], name: "bench-compiler-specjvm2008-Single-linux-x52" }
  ${x52.default} ${bench-specjbb2005}                    ${oraclejdk8} { targets: [daily, bench], name: "bench-compiler-specjbb2005-linux-x52"}
  ${x52.default} ${bench-specjbb2015}                    ${oraclejdk8} { targets: [daily, bench], name: "bench-compiler-specjbb2015-linux-x52" }

  ${x52.tmpfs10g} ${bench-dacapo-hwloc}                  ${labsjdk11} { targets: [daily, bench], name: "bench-compiler-dacapo-11-linux-x52" }
  ${x52.tmpfs10g} ${bench-dacapo-timing-hwloc}           ${labsjdk11} { targets: [weekly, bench], name: "bench-compiler-dacapo-timing-11-linux-x52" }
  ${x52.tmpfs10g} ${bench-scala-dacapo-all-hwloc}        ${labsjdk11} { targets: [daily, bench], name: "bench-compiler-scala-dacapo-11-linux-x52" }
  ${x52.tmpfs10g} ${bench-scala-dacapo-all-timing-hwloc} ${labsjdk11} { targets: [weekly, bench], name: "bench-compiler-scala-dacapo-timing-11-linux-x52" }
  ${x52.default} ${bench-renaissance-hwloc}              ${labsjdk11} { targets: [daily, bench], name: "bench-compiler-renaissance-11-linux-x52" }
  ${x52.default} ${bench-specjvm2008-Single}             ${labsjdk11} { targets: [daily, bench], name: "bench-compiler-specjvm2008-Single-11-linux-x52" }
  ${x52.default} ${bench-specjbb2005}                    ${labsjdk11} { targets: [daily, bench], name: "bench-compiler-specjbb2005-11-linux-x52" }
  ${x52.default} ${bench-specjbb2015}                    ${labsjdk11} { targets: [daily, bench], name: "bench-compiler-specjbb2015-11-linux-x52" }

  #  secondary benchmark suites
  ${x52.default} ${bench-renaissance-legacy-hwloc}       ${oraclejdk8} { targets: [daily, bench], name: "bench-compiler-renaissance-legacy-linux-x52" }
  ${x52.default} ${bench-specjvm2008-OneVM}              ${oraclejdk8} { targets: [daily, bench], name: "bench-compiler-specjvm2008-OneVM-linux-x52" }
  ${x52.default} ${bench-spark-sql-perf}                 ${oraclejdk8} { targets: [daily, bench], name: "bench-compiler-spark-sql-perf-linux-x52" }

  ${x52.default} ${bench-specjvm2008-OneVM}              ${labsjdk11} { targets: [weekly, bench], name: "bench-compiler-specjvm2008-OneVM-11-linux-x52" }

  #  special configurations
  ${x52.tmpfs10g-g1gc} ${bench-dacapo-hwloc}             ${oraclejdk8} { targets: [weekly, bench], name: "bench-compiler-dacapo-g1gc-linux-x52" }
  ${x52.tmpfs10g-g1gc} ${bench-scala-dacapo-hwloc}       ${oraclejdk8} { targets: [weekly, bench], name: "bench-compiler-scala-dacapo-g1gc-linux-x52" }
  ${x52.default-g1gc} ${bench-renaissance-hwloc}         ${oraclejdk8} { targets: [weekly, bench], name: "bench-compiler-renaissance-g1gc-linux-x52" }
  ${x52.tmpfs10g-g1gc} ${bench-specjvm2008-Single}       ${oraclejdk8} { targets: [weekly, bench], name: "bench-compiler-specjvm2008-g1gc-Single-linux-x52" }
  ${x52.default-g1gc} ${bench-specjbb2005}               ${oraclejdk8} { targets: [weekly, bench], name: "bench-compiler-specjbb2005-g1gc-linux-x52"}
  ${x52.tmpfs10g-g1gc} ${bench-specjbb2015}              ${oraclejdk8} { targets: [weekly, bench], name: "bench-compiler-specjbb2015-g1gc-linux-x52" }
  ${x52.default-g1gc} ${bench-renaissance-legacy-hwloc}  ${oraclejdk8} { targets: [weekly, bench], name: "bench-compiler-renaissance-legacy-g1gc-linux-x52" }
]
