// plain x52 machine without settings for the JVM
x52.base : {
  capabilities: [linux, x52, no_frequency_scaling]
  environment : {
    MACHINE_NAME : "x52"
  }
}

x52.tmpfs10g-base : ${x52.base} {
  capabilities: ${x52.base.capabilities} [tmpfs10g]
}


// HotSpot client compiler (C1)
x52.c1 : ${linux-amd64} {
  capabilities: ${linux-amd64.capabilities} [x52, no_frequency_scaling]
  environment : {
    JVM_CONFIG :  "default"
    JVM        :  "client"
    MACHINE_NAME: "x52"
  }
}

x52.c1-tmpfs10g : ${x52.c1} {
  capabilities: [linux, x52, no_frequency_scaling, tmpfs10g]
}

// HotSpot server compiler (C2)
x52.c2 : {
  capabilities: [linux, x52, no_frequency_scaling]
  environment : {
    JVM_CONFIG   : "default"
    JVM          : "server"
    MACHINE_NAME : "x52"
  }
}

x52.tmpfs10g-c2 : ${x52.c2} {
  capabilities: ${x52.c2.capabilities} [tmpfs10g]
}

x52.default : ${linux-amd64} {
  capabilities: ${linux-amd64.capabilities} [x52, no_frequency_scaling]
  environment : {
    JVM_CONFIG  : ${jvm-config.default}
    JVM         : "server"
    MACHINE_NAME: "x52"
  }
}

x52.default-libgraal : ${x52.default} {
  environment : {
    MX_PRIMARY_SUITE_PATH: "../"${vm_subdir}
    MX_ENV_PATH: ${libgraal_env}
    JVM_CONFIG  : ${jvm-config.default}"-libgraal"
  }
}

x52.tmpfs10g : ${x52.default} {
  capabilities: ${x52.default.capabilities} [tmpfs10g]
}

x52.tmpfs10g-libgraal : ${x52.default-libgraal} {
  capabilities: ${x52.default.capabilities} [tmpfs10g]
}

x52.default-g1gc : ${x52.default} {
  environment : {
    JVM_CONFIG  : ${jvm-config.default}"-g1gc"
  }
}

x52.default-libgraal-g1gc : ${x52.default-libgraal} {
  environment : {
    JVM_CONFIG  : ${jvm-config.default}"-libgraal-g1gc"
  }
}

x52.tmpfs10g-g1gc: ${x52.tmpfs10g} {
  environment : {
    JVM_CONFIG  : ${jvm-config.default}"-g1gc"
  }
}

x52.tmpfs10g-libgraal-g1gc: ${x52.tmpfs10g-libgraal} {
  environment : {
    JVM_CONFIG  : ${jvm-config.default}"-libgraal-g1gc"
  }
}

builds += [
]
