#
# Copyright (c) 2023, 2023, Oracle and/or its affiliates. All rights reserved.
# DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS FILE HEADER.
#
# The Universal Permissive License (UPL), Version 1.0
#
# Subject to the condition set forth below, permission is hereby granted to any
# person obtaining a copy of this software, associated documentation and/or
# data (collectively the "Software"), free of charge and under any and all
# copyright rights in the Software, and any and all patent rights owned or
# freely licensable by each licensor hereunder covering either (i) the
# unmodified Software as contributed to or provided by such licensor, or (ii)
# the Larger Works (as defined below), to deal in both
#
# (a) the Software, and
#
# (b) any piece of software and/or hardware listed in the lrgrwrks.txt file if
# one is included with the Software each a "Larger Work" to which the Software
# is contributed by such licensors),
#
# without restriction, including without limitation the rights to copy, create
# derivative works of, display, perform, and distribute the Software and make,
# use, sell, offer for sale, import, export, have made, and have sold the
# Software and the Larger Work(s), and to sublicense the foregoing rights on
# either these or other terms.
#
# This license is subject to the following condition:
#
# The above copyright notice and either this complete permission notice or at a
# minimum a reference to the UPL must be included in all copies or substantial
# portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
# SOFTWARE.

# Intergation test of CDT with Inspector backend.
name: Weekly CDT Inspector

on:
  schedule:
    - cron: "30 2 * * 2,5" # Tuesday and Friday at 2:30

env:
  JAVA_HOME: ${{ github.workspace }}/jdk
  JDK_VERSION: "latest"
  MX_PATH: ${{ github.workspace }}/mx
  SE_SKIP_DRIVER_IN_PATH: "true"

jobs:
  build:

    runs-on: ubuntu-latest

    if: github.repository == 'oracle/graal'

    steps:
    - name: Checkout oracle/graal
      uses: actions/checkout@v4
      with:
        path: ${{ github.workspace }}/graal
    - name: Checkout oracle/graaljs
      uses: actions/checkout@v4
      with:
        repository: oracle/graaljs
        sparse-checkout: |
          graal-js
        path: ${{ github.workspace }}/js
    - name: Checkout graalvm/mx
      uses: actions/checkout@v4
      with:
        repository: graalvm/mx.git
        ref: master
        path: ${{ env.MX_PATH }}
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.8'
    - name: Fetch LabsJDK
      run: |
        mkdir jdk-dl
        ${MX_PATH}/mx --java-home= fetch-jdk --jdk-id labsjdk-ce-${JDK_VERSION} --to jdk-dl --alias ${JAVA_HOME}
    - run: |
        cd ${{ github.workspace }}/graal/vm
        ${MX_PATH}/mx --dy /tools,graal-js build
        cd tests/gh_workflows/CDTInspectorTest
        mvn -q compile
        mvn -q exec:exec -Dtestargs="${{ github.workspace }}/graal/sdk/latest_graalvm_home/bin/js scripts/StepTest.js"
