#
# Copyright (c) 2024, 2026, Oracle and/or its affiliates. All rights reserved.
# DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS FILE HEADER.
#
# The Universal Permissive License (UPL), Version 1.0
#
# Subject to the condition set forth below, permission is hereby granted to any
# person obtaining a copy of this software, associated documentation and/or
# data (collectively the "Software"), free of charge and under any and all
# copyright rights in the Software, and any and all patent rights owned or
# freely licensable by each licensor hereunder covering either (i) the
# unmodified Software as contributed to or provided by such licensor, or (ii)
# the Larger Works (as defined below), to deal in both
#
# (a) the Software, and
#
# (b) any piece of software and/or hardware listed in the lrgrwrks.txt file if
# one is included with the Software each a "Larger Work" to which the Software
# is contributed by such licensors),
#
# without restriction, including without limitation the rights to copy, create
# derivative works of, display, perform, and distribute the Software and make,
# use, sell, offer for sale, import, export, have made, and have sold the
# Software and the Larger Work(s), and to sublicense the foregoing rights on
# either these or other terms.
#
# This license is subject to the following condition:
#
# The above copyright notice and either this complete permission notice or at a
# minimum a reference to the UPL must be included in all copies or substantial
# portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
# SOFTWARE.
#
name: Weekly Reachability Metadata Tests

on:
  workflow_call:
    inputs:
      NATIVE_IMAGE_OPTIONS:
        required: false
        type: string

env:
  REACHABILITY_METADATA_PATH: ${{ github.workspace }}/graalvm-reachability-metadata
  NATIVE_IMAGE_OPTIONS: ${{ inputs.NATIVE_IMAGE_OPTIONS }}

permissions:
  contents: read # to fetch code (actions/checkout)

jobs:
  build-graalvm:
    uses: ./.github/workflows/build-graalvm.yml
    with:
      native-images: 'native-image,native-image-configure,lib:native-image-agent'
      components: 'Native Image,Native Image Configure Tool'
  populate-matrix:
    name: Populate matrix
    runs-on: ubuntu-22.04
    if: (github.event_name == 'schedule' && github.repository == 'oracle/graal') || (github.event_name != 'schedule')
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
    - name: Checkout oracle/graalvm-reachability-metadata
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
      with:
        # change the repository and ref test potential fixes
        repository: oracle/graalvm-reachability-metadata
        ref: master
        path: ${{ env.REACHABILITY_METADATA_PATH }}
    - name: Set up JAVA_HOME
      uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654  # v5.2.0
      with:
        distribution: 'oracle'
        java-version: '25'
    - name: "Populate matrix"
      id: set-matrix
      run: |
        cd ${{ env.REACHABILITY_METADATA_PATH }}
        ./gradlew generateMatrixMatchingCoordinates -Pcoordinates=all

  test-all-metadata:
    name: ${{ matrix.coordinates }}
    runs-on: ubuntu-latest
    timeout-minutes: 20
    needs: [build-graalvm, populate-matrix]
    strategy:
        fail-fast: false
        matrix:
          coordinates: ${{fromJson(needs.populate-matrix.outputs.matrix).coordinates}}
    steps:
      - name: "Checkout oracle/graalvm-reachability-metadata"
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
        with:
          repository: oracle/graalvm-reachability-metadata
      - name: Download GraalVM
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: ${{ needs.build-graalvm.outputs.artifact-name }}
      - name: Extract GraalVM build and use it as JAVA_HOME
        run: |
          tar -xzf ${{ needs.build-graalvm.outputs.artifact-file-name }} -C ${{ github.workspace }}
          echo "JAVA_HOME=${{ github.workspace }}/${{ needs.build-graalvm.outputs.artifact-name }}" >> ${GITHUB_ENV}
      - name: "Pull allowed docker images"
        run: |
          ./gradlew pullAllowedDockerImages --coordinates=${{ matrix.coordinates }}
      - name: "Disable docker networking"
        run: |
          bash ./.github/workflows/scripts/disable-docker.sh
      - name: "Run '${{ matrix.coordinates }}' tests${{ inputs.NATIVE_IMAGE_OPTIONS && format(' with ''{0}''', inputs.NATIVE_IMAGE_OPTIONS) || '' }}"
        run: |
          ./gradlew test -Pcoordinates=${{ matrix.coordinates }}
