# Publish Javadoc of graal components post-merge

builds += [
  ${linux-amd64} ${oraclejdk8} {
    timelimit : "30:00",
    run : [
        [cd, "./sdk"],
        ["mx", "build"],
        ["mx", "javadoc"],
        ["zip", "-r", "javadoc.zip", "javadoc"],
        [cd, "../truffle"],
        ["mx", "build"],
        ["mx", "javadoc"],
        ["zip", "-r", "javadoc.zip", "javadoc"],
        [cd, "../tools"],
        ["mx", "build"],
        ["mx", "javadoc"],
        ["zip", "-r", "javadoc.zip", "javadoc"],
        [cd, "../compiler"],
        ["mx", "build"],
        ["mx", "javadoc", "--projects", "org.graalvm.graphio"],
        ["cd", "src/org.graalvm.graphio/"],
        ["zip", "-r", "../../graphio-javadoc.zip", "javadoc"],
        [cd, "../../.."],
        [set-export, GRAAL_REPO, [pwd]],
        [cd, ".."]
        ["git", "clone", "https://github.com/graalvm/graalvm-website.git"],
        [cd, "graalvm-website"]
        ["rm", "-rf", "sdk/javadoc", "truffle/javadoc", "tools/javadoc", "graphio/javadoc"],
        ["git", "status" ],
        ["unzip", "-o", "-d", "sdk", "$GRAAL_REPO/sdk/javadoc.zip"],
        ["unzip", "-o", "-d", "truffle", "$GRAAL_REPO/truffle/javadoc.zip"],
        ["unzip", "-o", "-d", "tools", "$GRAAL_REPO/tools/javadoc.zip"],
        ["unzip", "-o", "-d", "graphio", "$GRAAL_REPO/compiler/graphio-javadoc.zip"],
        ["git", "add", "sdk/javadoc", "truffle/javadoc", "tools/javadoc", "graphio/javadoc"],
        ["git", "config", "user.name", "Javadoc Publisher"],
        ["git", "config", "user.email", "graal-dev@openjdk.java.net"],
        ["git", "diff", "--staged", "--quiet", "||", "git", "commit", "-m", [ "echo", "Javadoc as of", [ "date", "+%Y/%m/%d" ] ] ],
        ["git", "push", "origin", "HEAD"],
    ],
    targets : [post-merge],
    name: "graal-publish-javadoc"
  }
]
