x4150.default : {
  environment : {
    JVM_CONFIG :  "graal-core"
  }
}
# SPECjbb2005-related targets

bench-specjbb2005-x4150: ${commonLinux} ${bench-specjbb2005} ${x4150.default} {
  capabilities: [linux, x4150, bench, post-merge]
  name: "bench-specjbb2005-linux-x4150"
  run: [
    ${bench-jvmci.mx-specjbb2005} [
      "--machine-name", "x4150", "--",
      "-Xmx64g", "-Xms64g", "-XX:+PrintConcurrentLocks", "--jvm-config=${JVM_CONFIG}"
    ]
  ]
}

# Build targets

builds += [
  ${bench-specjbb2005-x4150}
]
