x52.tracera: ${x52.default} {
  environment : {
    JVM_CONFIG :  "graal-core-tracera"
  }
}

builds += [
  ${bench-dacapo}              ${x52.default} { name: "bench-dacapo-linux-x52-tracera" }
  ${bench-dacapo-timing}       ${x52.default} { name: "bench-dacapo-timing-linux-x52-tracera" }
  ${bench-scala-dacapo}        ${x52.default} { name: "bench-scala-dacapo-linux-x52-tracera" }
  ${bench-scala-dacapo-timing} ${x52.default} { name: "bench-scala-dacapo-timing-linux-x52-tracera" }
  ${bench-specjvm2008}         ${x52.default} { name: "bench-specjvm2008-linux-x52-tracera" }
  ${bench-specjbb2015}         ${x52.default} { name: "bench-specjbb2015-linux-x52-tracera" }
  ${bench-micros-graal}        ${x52.default} { name: "bench-jmh-micros-graal-linux-x52-tracera" }
]
