# DaCapo-related targets

bench-dacapo-x52: ${bench-common-8} {
  capabilities: [linux, x52, bench, post-merge]
  name: "bench-dacapo-linux-x52"
  args.mx : ["--machine-name", "x52"]
  args.jvm : ["--jvm-config=graal-core", "-Xmx64g", "-Xms64g", "-XX:+PrintConcurrentLocks"]
  args.bench : []
  run: [
    ${bench-jvmci.mx-dacapo} [
      ] ${bench-dacapo-x52.args.mx} ["--"
      ] ${bench-dacapo-x52.args.jvm} ["--"
      ] ${bench-dacapo-x52.args.bench}
  ]
}

bench-dacapo-timing-x52: ${bench-common-8} {
  capabilities: [linux, x52, daily]
  name: "bench-dacapo-timing-linux-x52"
  args.mx : ["--machine-name", "x52"]
  args.jvm : ["--jvm-config=graal-core", "-Xmx64g", "-Xms64g", "-XX:+PrintConcurrentLocks"]
  args.bench : []
  run: [
    ${bench-jvmci.mx-dacapo-timing} [
      ] ${bench-dacapo-timing-x52.args.mx} ["--"
      ] ${bench-dacapo-timing-x52.args.jvm} ["--"
      ] ${bench-dacapo-timing-x52.args.bench}
  ]
}

# Scala DaCapo-related targets

bench-scala-dacapo-x52: ${bench-common-8} {
  capabilities: [linux, x52, bench, post-merge]
  name: "bench-scala-dacapo-linux-x52"
  args.mx : ["--machine-name", "x52"]
  args.jvm : ["--jvm-config=graal-core", "-Xmx64g", "-Xms64g", "-XX:+PrintConcurrentLocks"]
  args.bench : []
  run: [
    ${bench-jvmci.mx-scala-dacapo} [
      ] ${bench-scala-dacapo-x52.args.mx} ["--"
      ] ${bench-scala-dacapo-x52.args.jvm} ["--"
      ] ${bench-scala-dacapo-x52.args.bench}
  ]
}

bench-scala-dacapo-timing-x52: ${bench-common-8} {
  capabilities: [linux, x52, daily]
  name: "bench-scala-dacapo-timing-linux-x52"
  args.mx : ["--machine-name", "x52"]
  args.jvm : ["--jvm-config=graal-core", "-Xmx64g", "-Xms64g", "-XX:+PrintConcurrentLocks"]
  args.bench : []
  run: [
    ${bench-jvmci.mx-scala-dacapo-timing} [
      ] ${bench-scala-dacapo-timing-x52.args.mx} ["--"
      ] ${bench-scala-dacapo-timing-x52.args.jvm} ["--"
      ] ${bench-scala-dacapo-timing-x52.args.bench}
  ]
}

# SPECJvm2008-related targets

bench-specjvm2008-x52: ${bench-specjvm2008} {
  capabilities: [linux, x52, bench, post-merge]
  name: "bench-specjvm2008-linux-x52"
  args.mx : ["--machine-name", "x52"]
  args.jvm : ["--jvm-config=graal-core", "-Xmx64g", "-Xms64g", "-XX:+PrintConcurrentLocks"]
  args.bench : ["-it", "240s", "-wt", "120s"]
  run: [
    ${bench-jvmci.mx-specjvm2008} [
      ] ${bench-specjvm2008-x52.args.mx} ["--"
      ] ${bench-specjvm2008-x52.args.jvm} ["--"
      ] ${bench-specjvm2008-x52.args.bench}
  ]
}

# SPECjbb2013-related targets

bench-specjbb2013-x52: ${bench-specjbb2013} {
  capabilities: [linux, x52, bench, post-merge]
  name: "bench-specjbb2013-linux-x52"
  args.mx : ["--machine-name", "x52"]
  args.jvm : ["--jvm-config=graal-core", "-Xmx64g", "-Xms64g", "-Xmn56g", "-XX:+PrintConcurrentLocks"]
  args.bench : []
  run: [
    ${bench-jvmci.mx-specjbb2013} [
      ] ${bench-specjbb2013-x52.args.mx} ["--"
      ] ${bench-specjbb2013-x52.args.jvm} ["--"
      ] ${bench-specjbb2013-x52.args.bench}
  ]
}

# SPECjbb2015-related targets

bench-specjbb2015-x52: ${bench-specjbb2015} {
  capabilities: [linux, x52, bench, post-merge]
  name: "bench-specjbb2015-linux-x52"
  args.mx : ["--machine-name", "x52"]
  args.jvm : ["--jvm-config=graal-core", "-Xmx64g", "-Xms64g", "-Xmn56g", "-XX:+PrintConcurrentLocks"]
  args.bench : []
  run: [
    ${bench-jvmci.mx-specjbb2015} [
      ] ${bench-specjbb2015-x52.args.mx} ["--"
      ] ${bench-specjbb2015-x52.args.jvm} ["--"
      ] ${bench-specjbb2015-x52.args.bench}
  ]
}

# Build targets

builds += [
  ${bench-dacapo-x52}
  ${bench-scala-dacapo-x52}
  ${bench-specjvm2008-x52}
  ${bench-specjbb2013-x52}
  ${bench-specjbb2015-x52}
  ${bench-dacapo-timing-x52}
  ${bench-scala-dacapo-timing-x52}
]
